<div class="container_16 clearfix">
  <div class="grid_16">
    <div class="share-buttons">
      <div style="float:right; margin-left:10px;">
        <script type="text/javascript">
        tweetmeme_source = 'bitspaced';
        </script>
        <script type="text/javascript" src="http://tweetmeme.com/i/scripts/button.js"></script>
      </div>
      <div style="float:right; margin-left:10px;">
        <a name="fb_share" type="box_count" href="http://www.facebook.com/sharer.php" class="fb_share">Dela</a>
        <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
      </div>
    </div>
    
    <h1>
      <%=h @artist.name %>
      <% if @artist.begin_date || @artist.end_date %>
        <span class="years grey"><%= @artist.begin_date ? @artist.begin_date.strftime('%Y') : '?' %> &ndash; <%= @artist.end_date ? @artist.end_date.strftime('%Y') : '?' %></span>
      <% end %>
    </h1>
    <% if @artist.artwork.file? %>
      <% cache [@artist, 'public-biography'], :ttl => 1.week do %>
        <%= image_tag(@artist.artwork.url(:large, false), :width => @artist.artwork.width(:large), :height => @artist.artwork.height(:large), :alt => 'Artwork', :style => 'float:left; margin:0 20px 10px 0;') %>
        <p class="biography clearfix grey" style="margin-left:<%= @artist.artwork.width(:large) + 20 %>px;">
          <%= auto_link(strip_links(@artist.biography), :urls, :target => '_blank') %>
        </p>
      <% end %>
    <% end %>
    <hr />
    <ul class="releases">
      <% @artist.releases.has_tracks.without_archived.each do |release| %>
      <li>
        <%= link_to(image_tag(release.artwork.url(:small, false), :size => '125x125', :alt => 'Cover art'), release_profile_url(@user.login, release)) %>
        <%= link_to(h(release.title), release_profile_url(@user.login, release), :class => 'title') %>
        <% if release.year %>
          <span class="year grey">(<%= release.year %>)</span>
        <% end %>
      </li>
      <% end %>
    </ul>
    <hr />
    <!-- <%= link_to('Spotify', "spotify:search:artist:\"#{CGI.escape(@artist.name)}\"", :rel => 'nofollow') %> / -->
    <%= link_to('Last.fm', "http://www.last.fm/search?q=#{CGI.escape(@artist.name)}&type=artist", :rel => 'nofollow') %> /
    <%= link_to('YouTube', "http://www.youtube.com/results?search_query=#{CGI.escape(@artist.name)}", :rel => 'nofollow') %> /
    <%= link_to('Wikipedia', "http://en.wikipedia.org/wiki/#{CGI.escape(@artist.name.gsub(' ','_'))}", :rel => 'nofollow')%>
  </div>
</div>