<div class="release">
  <div class="container_16 clearfix">
    <div class="grid_16">
      <div class="share-buttons">
        <div style="float:right; margin-left:10px;">
          <script type="text/javascript">
          tweetmeme_source = 'bitspaced';
          </script>
          <script type="text/javascript" src="http://tweetmeme.com/i/scripts/button.js"></script>
        </div>
        <div style="float:right; margin-left:10px;">
          <a name="fb_share" type="box_count" href="http://www.facebook.com/sharer.php" class="fb_share">Dela</a>
          <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
        </div>
      </div>
    
      <% if @release.artwork.file? %>
      <%= image_tag(@release.artwork.url(:medium, false), :size => '240x240', :alt => 'Cover art', :style => 'float:left; margin:0 20px 20px 0;') %>
      <% else %>
      <%= image_tag(@release.artwork.url(:medium, false), :size => '240x240', :alt => 'Cover art', :style => 'float:left; margin:0 20px 20px 0;') %>
      <% end %>
      <h1>
        <span class="artist-name"><%= link_to(h(@release.artist.name), artist_profile_path(@user.login, @release.artist), :target => '_self') %></span><br />
        <%=h @release.title %>
        <% if @release.year.present? %>
        <span class="year grey"><%= @release.year %></span>
        <% end %>
      </h1>
      <% if @release.review.present? %>
        <p class="review grey">
          <%= auto_link(strip_links(@release.review), :urls, :target => '_blank') %>
        </p>
      <% end %>
      <% @release.tracks.sort_by{|t| t.set_nr.to_i }.group_by(&:set_nr).each do |set_nr, tracks| %>
      <ol class="tracks grey">
        <%= render :partial => 'profiles/releases/track', :collection => tracks.sort_by {|t| t.track_nr.to_i } %>
      </ol>
      <% end %>
      <% if @release.label.present? || @release.release_date.present? %>
        <p class="meta grey small">
          <% if @release.tags.present? %>
            <%= @release.tags.split(',').map{|t| "<strong class=\"tag\">#{h(t.anal_title_case)}</strong>" }.to_sentence %><br />
          <% end %>
          <%= [h(@release.label.try(:name)), @release.release_date].reject(&:blank?).join('<br />') %>
        </p>
      <% end %>
    </div>
  </div>
</div>
