<%= render :partial => 'profile' %>

<div id="content">
  <div id="secondary">
    <ul class="events">
      <li class="vevent">
        <div class="summary"><strong>Ikons</strong> at <strong class="venue">Monsters of Pop</strong></div>
        <div class="location">Helsinki, FINLAND</div>
        <div class="date"><abbr class="dtstart" title="2010-09-02T22:30">22:30 – 2 September, 2010</abbr></div>
      </li>
      <li class="vevent">
        <div class="summary"><strong>Jens Lekman</strong> at <strong class="venue">Hornstull Strand</strong></div>
        <div class="location">Stockholm, Sweden</div>
        <div class="date"><abbr class="dtstart" title="2010-08-07T22:30">22:30 – 7 Augusti, 2010</abbr></div>
      </li>
    </ul>
    <hr />
    <ul class="commentsx">
      <% @comments.each do |comment| %>
        <li class="comment">
          <%= link_to(h(comment.user.login), profile_path(comment.user.login), :class => 'user', :target => '_blank') %>
          <abbr class="timestamp" title="<%= comment.created_at.iso8601 %>"></abbr>
          <%= auto_link(simple_format(escape_once(truncate(comment.body, :length => 140))), :all, :target => '_blank', :class => 'external') {|link| truncate(link, :length => 35) } %>
        </li>
      <% end %>
    </ul>
  </div>
  
  <div id="main" class="with-sidebar">
    <%= render :partial => 'release', :collection => @releases %>
  </div>
  <hr />
  <%= will_paginate(@releases) %>
</div>