<div class="container_16 clearfix">
  <div class="grid_16">
    <div class="breadcrumbs">
      <%= link_to(h(@artist.name), @artist, :target => '_self') %>
    </div>
    <h1>Upload artwork for this artist...</h1>
  </div>
</div>
<div class="container_16 clearfix">
    <div class="pane clearfix">
      <div class="grid_3">
        <%= image_tag(@artist.artwork.url(:small), :size => '125x125', :alt => 'Current artwork') %>
      </div>
      <div class="grid_7 suffix_6">
        <div class="dialog" style="background:none">
          <div id="artist-artwork-upload-button">
            <div id="artist-artwork-upload-button-swf"></div>
          </div>
          <div id="artist-artwork-upload-info">
            <div id="artist-artwork-upload-progress" class="progress">
              <div class="gauge"></div>
            </div>
            <div id="artist-artwork-upload-status" class="progress-status">Please select an image to upload.</div>
          </div>
        </div>
        <script type="text/javascript">
        $(function(){
          $('#artist-artwork-upload-button').each(function(){
            $(this).swfupload({
              upload_url: "<%= artwork_artist_path_with_session_information(@artist) %>",
              post_params: { '_method': 'put', <%= request_forgery_protection_token.to_s %>: '<%= form_authenticity_token %>' },
              file_size_limit: 0,
              file_types: "*.jpg;*.jpeg;*.png;*.gif",
              file_types_description: "Image files",
              file_post_name: "artist[artwork]",
              file_upload_limit: 1,
              file_queue_limit: 1,
              button_image_url : "../../images/button-select-files.png",
              button_placeholder_id : "artist-artwork-upload-button-swf",
              button_width: 100,
              button_height: 32,
              button_window_mode: SWFUpload.WINDOW_MODE.TRANSPARENT,
              button_cursor: SWFUpload.CURSOR.HAND,
              flash_url: "/vendor/swfupload/swfupload.swf"
            })
            .bind('fileQueued', function(e, file){
              $(this).swfupload('startUpload');
            })
            .bind('uploadComplete', function(e, file){
                $('#artist-artwork-upload-status').text('Upload finished.');
                setTimeout(function(){ $.address.value("<%= biography_artist_path(@artist) %>"); }, 1000);
            })
            .bind('uploadProgress', function(e, file, bytesLoaded){
              var percent = Math.ceil((bytesLoaded / file.size) * 100);
              $('#artist-artwork-upload-progress .gauge').width(percent + '%');
              $('#artist-artwork-upload-status').text(file.name + ' – ' + percent + '%');
            })
            .bind('uploadError', function(e, file, code, message){
              $('#artist-artwork-upload-status').text('Error: ' + message);
            });
          });
        });
        </script>
      </div>
    </div>
  </div>
</div>