<div class="container_16 clearfix">
  <div class="grid_16">
    <ul class="tabnav" style="float:right;">
      <li><%= link_to('Releases', artist_path(@artist), :target => '_self') %></li>
      <li><%= link_to('Biography', biography_artist_path(@artist), :target => '_self', :class => 'current') %></li>
      <% if @artist.website.present? %>
      <li><%= link_to('Website', @artist.website, :target => '_blank', :rel => 'shadowbox') %></li>
      <% end %>
    </ul>
    <h1>
      <%= link_to(h(@artist.name), @artist, :target => '_self') %>
      <% if @artist.begin_date || @artist.end_date %>
        <span class="years grey"><%= @artist.begin_date ? @artist.begin_date.strftime('%Y') : '?' %> &ndash; <%= @artist.end_date ? @artist.end_date.strftime('%Y') : '?' %></span>
      <% end %>
    </h1>
      <%= image_tag(@artist.artwork.url(:large, false), :width => @artist.artwork.width(:large), :height => @artist.artwork.height(:large), :alt => 'Artwork', :class => 'artist-artwork') %>
      <p class="biography" class="clearfix grey" style="margin-left:<%= @artist.artwork.width(:large) ? @artist.artwork.width(:large) + 20 : 335 %>px;">
        <%= auto_link(strip_links(@artist.biography), :urls, :target => '_blank') %>
      </p>
    <div class="actions">
      <%= link_to('Upload artwork', artwork_artist_path(@artist), :target => '_self') %> <%= link_to('Edit biography', edit_artist_path(@artist), :target => '_self') %>
    </div>
  </div>
</div>