<div class="container_16 clearfix">
  <div class="grid_16">
    <h1><%=h @artist.name %></h1>
  </div>
</div>

<div class="container_16 clearfix pane">
  <div class="grid_16">
    <div id="<%= dom_id(@artist) %>_releases">
      Please wait...
    </div>
  </div>
</div>
<script type="text/javascript">
$(function(){
  $('#<%= dom_id(@artist) %>_releases').load("<%= url_for([@artist, :releases]).sub('"','\"') %>", null, function(){ Shadowbox.setup($('#<%= dom_id(@artist) %>_releases a[rel*=shadowbox]')); });
});
</script>