<div class="container_16 clearfix">
  <div class="grid_16">
    <h1><%= link_to(h(@artist.name), @artist, :target => '_self') %></h1>
    <% if @artist.artwork.file? %>
      <% cache [@artist, 'biography'], :ttl => 1.week do %>
        <p class="clearfix grey">
          <%= image_tag(@artist.artwork.url(:original, false), :alt => 'Artwork', :style => 'float:left; margin:0 20px 10px 0;') %>
          <%= auto_link(strip_links(@artist.biography), :urls, :target => '_blank') %>
        </p>
        <hr />
      <% end %>
    <% end %>
  </div>
</div>

<div class="container_16 clearfix pane">
  <div class="grid_16">
    <% if @artist.releases.without_archived.empty? %>
      <div class="fallback">
        Sorry, didn't find anything. There is <%= pluralize(@artist.releases.with_archived.size, 'archived release') %> not shown though.
      </div>
    <% else %>
      <ul class="releases">
        <%= render :partial => 'releases/release', :collection => @artist.releases.without_archived %>
      </ul>
    <% end %>
  </div>
</div>
