<% content_tag_for(:li, follower, :style => 'border-bottom:1px solid #eee; padding:20px 10px; margin:0 20px;') do %>
  <%= image_tag(gravatar_url(follower), :size => '40x40', :style => 'float:left; margin-right:10px;') %>
  <h3 style="margin:0;">
    <%= link_to(h(follower.login), profile_path(follower.login)) %>
    <span>
      &ndash;
      <%= pluralize(follower.artists.size, 'artist') %>,
      <%= pluralize(follower.releases.size, 'release') %>,
      <%= pluralize(follower.followers.size, 'follower') %>
    </span>
  </h3>
  <%= follower.tracks.all(:limit => 5, :order => 'scrobbles_count DESC', :conditions => ['scrobbles_count IS NOT NULL AND scrobbles_count != 0']).map {|t| "<strong>#{t.release.artist.name}</strong>" }.uniq.to_sentence %>
<% end %>