<div class="container_12 clearfix aligncenter">
  <%= render :partial => 'menu' %>
  <br style="clear:both;" />
  <div class="grid_2">
    <dl class="status">
      <dt>Jobs in the queue</dt>
      <dd><%= link_to(Delayed::Job.count(:conditions => { :failed_at => nil }), admin_jobs_path) %></dd>
      <dt>Failed jobs</dt>
      <dd><%= Delayed::Job.count(:conditions => ['last_error IS NOT NULL']) %></dd>
      <dt>Retrying jobs</dt>
      <dd><%= Delayed::Job.count(:conditions => ['last_error IS NOT NULL AND failed_at IS NULL']) %></dd>
      <dt>Backlog</dt>
      <dd><%= Delayed::Job.count(:conditions => ['run_at <= ? AND failed_at IS NULL', Time.now.utc]) %></dd>
    </dl>
  </div>
  <div class="grid_2">
    <dl class="status">
      <dt>No. users</dt>
      <dd><%= link_to(User.count, admin_users_path) %></dd>
      <dt>Paying users</dt>
      <dd><%= User.count(:conditions => { :subscription_plan => User::SUBSCRIPTION_PLANS.values.select {|p| p[:price_in_euro] > 0 }.map {|p| p[:name] } }) %></dd>
      <dt>Free users</dt>
      <dd><%= User.count(:conditions => { :subscription_plan => User::SUBSCRIPTION_PLANS.values.select {|p| p[:price_in_euro] == 0 }.map {|p| p[:name] } }) %></dd>
      <dt>Paying ratio</dt>
      <dd><%= number_to_percentage((User.count(:conditions => { :subscription_plan => User::SUBSCRIPTION_PLANS.values.select {|p| p[:price_in_euro] > 0 }.map {|p| p[:name] } }).to_f / User.count.to_f) * 100.0, :precision => 1) %></dd>
    </dl>
  </div>
  <div class="grid_2">
    <dl class="status">
      <dt>Total storage</dt>
      <dd><%= number_to_human_size(Track.sum(:size)) %></dd>
      <dt>Total allowed storage</dt>
      <dd><%= number_to_human_size(User.sum(:max_storage)) %></dd>
      <dt>Real storage (approx.)</dt>
      <dd><%= number_to_human_size(Track.sum(:size, :group => 'fingerprint').values.sum) %></dd>
    </dl>
  </div>
  <div class="grid_2">
    <dl class="status">
      <dt>No. artists</dt>
      <dd><%= Artist.count %></dd>
      <dt>No. labels</dt>
      <dd><%= Label.count %></dd>
    </dl>
  </div>
  <div class="grid_2">
    <dl class="status">
      <dt>No. releases</dt>
      <dd><%= Release.count %></dd>
      <dt>No. tracks</dt>
      <dd><%= Track.count %></dd>
    </dl>
  </div>
  <div class="grid_2">
    <dl class="status">
      <dt>SEK/month in (approx.)</dt>
      <dd><%= number_to_currency(approximate_revenue_in_sek, :unit => 'kr', :format => '%n %u') %></dd>
      <dt>SEK/month out (approx.)</dt>
      <dd><%= number_to_currency(approximate_cost_in_sek, :unit => 'kr', :format => '%n %u') %></dd>
      <dt>Bandwidth cost (approx.)</dt>
      <dd><%= number_to_currency(approximate_bandwidth_cost_in_sek, :unit => 'kr', :format => '%n %u') %></dd>
    </dl>
  </div>
</div>