<div class="container_12 clearfix aligncenter">
  <%= render :partial => 'menu' %>
  <hr />
  <table>
    <thead>
      <th class="grid_1">Facebook</th>
      <th class="grid_3">E-mail</th>
      <th class="grid_1">Login</th>
      <th class="grid_3">Last login</th>
      <th class="grid_1">Storage</th>
      <th class="grid_3">Created</th>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td class="grid_1"><%= user.facebook_uid %></td>
        <th class="grid_3">
          <%= link_to(user.email, "##{dom_id(user)}_handler", :rel => 'shadowbox') %>
          <div id="<%= dom_id(user) %>_handler" style="display:none;">
            <pre style="padding:20px;">E-mail: <%=h user.email %>
Login count: <%= user.login_count %>
Failed login count <%= user.failed_login_count %>
Last request: <%= user.last_request_at %>
Last login: <%= user.last_login_at %>
Last ip: <%= user.last_login_ip %>
Storage: <%= number_to_human_size(user.tracks.sum(:size)) %>
Max storage: <%= number_to_human_size(user.max_storage) %>
Subscriptin plan: <%= user.subscription_plan %>
Created: <%= user.created_at %>
Artists: <%= pluralize(user.artists.with_releases.size, 'artists') %>
Releases: <%= pluralize(user.releases.size, 'releases') %>
Tracks: <%= pluralize(user.tracks.size, 'tracks') %></pre>
          </div>
        </th>
        <th class="grid_1"><%= user.login_count %></th>
        <th class="grid_3"><%= user.last_login_at %></th>
        <th class="grid_1"><%= number_to_human_size(user.tracks.sum(:size)) %></th>
        <th class="grid_3"><%= user.created_at %></th>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate(@users) %>
</div>
<script type="text/javascript">
Shadowbox.init();
</script>