<div class="container_12 clearfix aligncenter">
  <%= render :partial => 'menu' %>
  <br style="clear:both;" />
  <table>
    <thead>
      <th class="grid_1">Username</th>
      <th class="grid_3">E-mail</th>
      <th class="grid_1">Logins</th>
      <th class="grid_2">Last request</th>
      <th class="grid_1">Storage</th>
      <th class="grid_2">Subscription plan</th>
      <th class="grid_2">Created at</th>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td class="grid_1"><%= link_to(user.login || user.facebook_uid, user.login ? profile_path(user.login) : '#') %></td>
        <td class="grid_3">
          <%= link_to(user.email, "##{dom_id(user)}_handler", :rel => 'shadowbox') %>
          <div id="<%= dom_id(user) %>_handler" style="display:none;">
            <pre style="padding:20px; color:#fff;">E-mail: <%=h user.email %>
Login count: <%= user.login_count %>
Failed login count <%= user.failed_login_count %>
Last request: <%= user.last_request_at %>
Last login: <%= user.last_login_at %>
Last ip: <%= user.last_login_ip %>
Storage: <%= number_to_human_size(user.tracks.sum(:size)) %>
Max storage: <%= number_to_human_size(user.max_storage) %>
Subscriptin plan: <%= user.subscription_plan %>
Created: <%= user.created_at %>
Artists: <%= pluralize(user.artists.with_releases.size, 'artists') %>
Releases: <%= pluralize(user.releases.size, 'releases') %>
Tracks: <%= pluralize(user.tracks.size, 'tracks') %></pre>
          </div>
        </td>
        <td class="grid_1"><%= user.login_count %></td>
        <td class="grid_2"><%= time_ago_in_words(user.last_request_at) %> ago</td>
        <td class="grid_1"><%= number_to_human_size(user.tracks.sum(:size)) %></td>
        <td class="grid_2"><%= user.subscription_plan %></td>
        <td class="grid_2"><%= time_ago_in_words(user.created_at) %> ago</td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate(@users) %>
</div>
<script type="text/javascript">
Shadowbox.init();
</script>