<div class="container_16 clearfix">
  <div class="grid_16">
    <% if @label.website.present? %>
    <ul class="tabnav" style="float:right;">
      <li><%= link_to('Releases', label_path(@label), :target => '_self', :class => 'current') %></li>
      <li><%= link_to('Website', @label.website, :target => '_blank', :rel => 'shadowbox') %></li>
    </ul>
    <% end %>
    <h1><%=h @label.name %></h1>
  </div>
</div>

<div class="container_16 clearfix pane">
  <div class="grid_16">
    <% if @label.releases.without_archived.empty? %>
      <div class="fallback">
        Sorry, didn't find anything. There is <%= pluralize(@label.releases.with_archived.size, 'archived release') %> not shown though.
      </div>
    <% else %>
      <ul class="releases">
        <%= render :partial => 'releases/release', :collection => @label.releases.without_archived %>
      </ul>
    <% end %>
  </div>
</div>
