<% form_for(@post) do |f| %>
  <div class="field">
    <%= f.text_field :title, :style => 'font-size: 18px; padding: 10px;' %>
  </div>
  <div class="field">
    <%= f.text_area :body, :size => '60x25', :style => 'font-size: 14px; padding: 10px;' %>
  </div>
  <div class="field">
    <%= f.check_box :published %>
    <%= f.label :published %>
  </div>
  <div class="submit-row">
    <%= submit_tag 'Save' %>
  </div>
<% end %>