<div class="container_16 clearfix" style="margin-top:40px; margin-bottom:40px;">
  <div class="grid_8 aligncenter">
    <h2 style="margin:80px 0 20px 0;">
      Software for the serious music collector
    </h2>
    <p>
      Music is both personal and social. Music is your life and your friends.
      Music is art and party, relaxation and good memories.
      Bitspace lets you enjoy all your music on
      your Mac or directly in your browser. When you want to listen to something, you no
      longer have to look through your iTunes library or flip through internet radio channels
       — just go to bitspace.at/player. With your entire music collection in
      your Bitspace library, you can browse everything faster, organize it all
      easier, and play anything whenever the mood strikes.
    </p>
  </div>
  <div class="grid_8 alignright">
    <p><%= image_tag('/images/about/screenshot-1a.png') %></p>
  </div>
</div>

<hr />

<div class="container_16 clearfix" style="margin-top:60px;">
  <div class="grid_8">
    <%= image_tag('/images/about/screenshot-3.png', :style => 'margin-bottom:-5px;') %>
  </div>
  <div class="grid_8 aligncenter">
    <h2 style="margin:50px 0 20px 0;">
      Share your taste in music
    </h2>
    <p>
      With public profiles you can get your own fans. Your public profile
      is a way for you to share your music taste and to let your friends
      follow what you upload and listen to. You can find your public profile
      at bitspace.at/username. Bitspace is also fully integrated with
      Last.fm and can scrobble everything you listen to with the click of a
      button.
    </p>
  </div>
</div>

<hr />

<div class="container_16 clearfix" style="margin-top:60px;">
  <div class="grid_8 prefix_4 suffix_4 aligncenter">
    <h2 style="margin:20px 0 20px 0;">
      We love album art
    </h2>
    <p>
      The visual experience of the record album returns with Bitspace.<br />
      Experience a beautifully designed world right in your Bitspace library.
    </p>
  </div>
  <div class="grid_12 prefix_2 suffix_2 aligncenter">
    <%= image_tag('/images/about/screenshot-2.png', :style => 'margin-bottom:0px;') %>
  </div>
</div>

<div class="header">
  <div class="container_16 clearfix" style="margin-top:40px; margin-bottom:40px;">
    <div class="grid_4">
      <blockquote style="font-size:14px; padding:20px 20px 20px 30px; margin-right:20px; background:#e4e4e4; height:114px; -webkit-border-radius:10px; -moz-border-radius:10px;">
        <strong style="font-size:20px; margin-left:-16px;">&ldquo;</strong>
        Compared to Lala, Bitspace is definitely the prettier service and
        it's reliance on open web-standards is commendable.
        <strong style="font-size:20px;">&rdquo;</strong>
      </blockquote>
      <div style="background:url(/images/quote-bubble-arrow.png) no-repeat; height:16px;"></div>
      <p style="padding-left:30px;">
        <strong>Frederic Lardinois</strong><br />
        <em>ReadWriteWeb</em>
      </p>
    </div>
    <div class="grid_4">
      <blockquote style="font-size:14px; padding:35px 20px 20px 30px; margin-right:20px; background:#e4e4e4; height:99px; -webkit-border-radius:10px; -moz-border-radius:10px;">
        <strong style="font-size:20px; margin-left:-16px;">&ldquo;</strong>
        For me, Bitspace is for music what Vimeo is for video.
        Simply amazing stuff.
        <strong style="font-size:20px;">&rdquo;</strong>
      </blockquote>
      <div style="background:url(/images/quote-bubble-arrow.png) no-repeat; height:16px;"></div>
      <p style="padding-left:30px;">
        <strong>Anthony Mirelli</strong><br />
        <em>Music collector</em>
      </p>
    </div>
    <div class="grid_4">
      <blockquote style="font-size:14px; padding:20px 20px 20px 30px; margin-right:20px; background:#e4e4e4; height:114px; -webkit-border-radius:10px; -moz-border-radius:10px;">
        <strong style="font-size:20px; margin-left:-16px;">&ldquo;</strong>
        Bitspace is a game changer. It’s the finest example of a powerful, 
        beautiful and standards-compliant web application.
        <strong style="font-size:20px;">&rdquo;</strong>
      </blockquote>
      <div style="background:url(/images/quote-bubble-arrow.png) no-repeat; height:16px;"></div>
      <p style="padding-left:30px;">
        <strong>Federico Viticci</strong><br />
        <em>MacStories</em>
      </p>
    </div>
    <div class="grid_4">
      <blockquote style="font-size:14px; padding:30px 20px 20px 30px; margin-right:20px; background:#e4e4e4; height:104px; -webkit-border-radius:10px; -moz-border-radius:10px;">
        <strong style="font-size:20px; margin-left:-16px;">&ldquo;</strong>
        Amazing! [...]
        I can get back to getting started enjoying the luxurious
        environment you've created. 
        <strong style="font-size:20px;">&rdquo;</strong>
      </blockquote>
      <div style="background:url(/images/quote-bubble-arrow.png) no-repeat; height:16px;"></div>
      <p style="padding-left:30px;">
        <strong>DJ Quietstorm</strong><br />
        <em>Artist and producer</em>
      </p>
    </div>
    <hr />
    <div class="grid_16 aligncenter">
      <h1>How do you use Bitspace?</h1>
      <h3>We’re honored to receive such high marks from our customers.</h3>
    </div>
  </div>
</div>

<div class="container_12 clearfix" style="margin-top:60px;">
  <div class="grid_8">
    <h2>FAQ</h2>
    <div class="grid_4 alpha">
      <h3>Is my precious music safe on Bitspace?</h3>
      <p>We take very good care of your music here at Bitspace. We're like the
         nice friend that you pay to feed your Tamagotchi while you're away doing
         important stuff.</p>
      <p>All files are stored at least three times in at least two different
         geographically separated datacenters. So if one is crushed by Godzilla,
         the other one should still be up and running.</p>
      <p>We have very rigorous security and data backup processes. We won't lose
         a bit. Promise!</p>
    
      <h3>Can I really use Bitspace from anywhere?</h3>
      <p>Yep! Bitspace is available worldwide. It's the same experience no
        matter where you might live at the moment. We use a professional
        Content Delivery Network (CDN) with edge locations in the US, Europe and
        Asia to stream the music to you. That means your songs load just as fast
        from Tokyo or Hong Kong as from Stockholm or New York.</p>
      
      <h3>Does it Scrobble&trade;?</h3>
      <p>Yes, we are fully integrated with
         <strong>Last.fm</strong>.</p>
    
      <h3>How can I get Bitspace?</h3>
      <p>You <%= link_to('sign up', price_path) %> for a <strong>Basic</strong>, <strong>Standard</strong> or
         <strong>Premium</strong> account. All three are free for the first 30 days
         and you can of course choose to end your subscription at any time.</p>
    
      <h3>Do I have to listen to or look at ads?</h3>
      <p>No, we will never ever show banners or make you listen to ads between
         tracks on Bitspace. Not even on the free plan.</p>

    </div>
    <div class="grid_4 omega">
      <h3>What are the system requirements?</h3>
      <p>Right now the only thing you need is a Webkit based browser like
         <strong>Apple Safari</strong>
         or <strong>Google Chrome</strong>
         (or <strong>Google Chrome Frame</strong>
         in IE).</p>
    
     <h3>Does it work in Firefox?</h3>
     <p>Firefox does not support playing MP3 or MP4 files using the HTML5 audio-tag
        for political reasons. Bitspace still work just fine in Firefox but
        will use the Adobe Flash Player to play your music instead.</p>
    
      <h3>Do I have to use Bitspace in my browser?</h3>
      <p>No, we currently have an official desktop client for OS X that can be 
        downloaded from the <%= link_to('download page', download_path) %>.</p>
    
      <h3>What about mobile devices?</h3>
      <p>We're working on it.</p>
    
      <h3>How does the 30-day free trial work?</h3>
      <p>If you cancel a paying plan within 30 days of signing up you won’t be
      charged a thing. If you do choose to cancel your account in the future you
      will never be charged again, but you are responsible for charges already
      incurred up until your cancellation. Refunds can not be issued after your
      initial 30 day trial and we don’t prorate for partial months.</p>

      <h3>Do I get a 30-day free trial if I upgrade?</h3>
      <p>If you upgrade from a free account to a pay account you are not
      eligible for the 30-day free trial. The 30-day free trial on paying plans
      only applies if you sign up for a paying plan now.</p>
    </div>
  </div>
  
  <div class="grid_4">
    <div style="border-left:1px solid #eee; padding-left:20px;">
      <h2>Press &amp; Media</h2>
      <p><strong>Bitspace has been mentioned in the following publications...</strong></p>
    
      <p><%= image_tag('http://www.readwriteweb.com/mt-static/themes/rww-ideacodes/images/logo.png', :size => '200x28') %></p>
      <p><%= image_tag('http://c0588192.cdn.cloudfiles.rackspacecloud.com/logo.png', :size => '200x59') %></p>
    
      <p><em>Do you want to write about Bitspace? Great! You should check out our <%= link_to('press kit', '/press') %>.</em></p>
    
      <h2>Help &amp; Support</h2>
      <ul>
        <li><h3><%= mail_to('support@bitspace.se', 'I have a question concerning<br /> my subscription →', :subject => 'Subscription problems', :encode => 'javascript') %></h3></li>
        <li><h3><a href="http://getsatisfaction.com/bitspace">I have feedback or want to<br /> report a bug →</a></h3></li>
      </ul>
    
      <div id='gsfn_list_widget'>
      <strong>Active customer service discussions in <a href="http://getsatisfaction.com/bitspace" class="widget_title">Bitspace</a></strong>
      <div id='gsfn_content'>Loading...</div>
      </div>
    </div>

    <script src="http://getsatisfaction.com/bitspace/widgets/javascripts/4460f9fd1c/widgets.js" type="text/javascript"></script>
    <script src="http://getsatisfaction.com/bitspace/topics.widget?callback=gsfnTopicsCallback&amp;limit=5&amp;sort=last_active_at" type="text/javascript"></script>
    
    <div class="aligncenter" style="margin-top:20px">
    <a href="http://getsatisfaction.com/bitspace"><img alt="Badge_get_help" src="http://getsatisfaction.com/images/badges/badge_get_help.png" /></a>
    </div>
  </div>
</div>

<hr />

<div class="container_16 clearfix">
  <div class="grid_16 aligncenter">
    <h2><%= link_to('<strong><u>Try Bitspace for free for 30 days.</u></strong> See plans and pricing →', price_path) %></h2>
    <h3 class="grey">60 seconds from signing up to enjoying your music. No credit card required. No obligations.</h3>
  </div>
</div>
