<div class="color-1">
  <div class="billboard">
    <div class="container_16 clearfix">
      <div class="grid_11">
        <% link_to(tour_path) do %>
          <img src="/images/billboard-20100731.png" width="640" height="440" alt="Konichiwa!" />
        <% end %>
      </div>
      <div class="grid_5 aligncenter" style="padding-top: 62px; line-height: normal;">
        <h1>No One Puts Music<br /> In A Corner.</h1>
        <h3>Bitspace is <em>a better way to store and listen to music</em>.
        Simply upload your collection and enjoy 
        it every day and from anywhere.</h3>
        <hr />
        <% if ENV['PRIVATE_BETA'] %>
          <% form_for InvitationRequest.new do |f| %>
            <h3>Subscribe for beta invite...</h3>
            <%= f.text_field :email, :class => 'required email', :hint => 'Enter your email address' %>
            <%= f.submit 'Subscribe' %>
            <%=h flash[:notice] %>
          <% end %>
        <% else %>
          <div id="signup-button">
            <h3>
              <% link_to('#price', :target => '_self') do %>
                See Plans and Pricing →<br />
                <span>30-day free trial, sign up in 60 seconds</span>
              <% end %>
            </h3>
          </div>
          <%= link_to(image_tag('/images/app-store-badge.png'), appstore_path) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="color-2">
  <div class="container_16 clearfix">
    <div class="grid_16 aligncenter">
      <% case rand(3)
         when 0: %>
      <blockquote class="big-quote">
        <span class="start-quote">“</span>
        Bitspace is a game changer. It’s the finest example of a powerful, beautiful and standards-compliant web application.
        <span class="end-quote">”</span>
      </blockquote>
      - <a href="http://www.macstories.net/reviews/bitspace/" class="grey">MacStories.net</a>
      <% when 1: %>
      <blockquote class="big-quote">
        <span class="start-quote">“</span>
        Compared to Lala, Bitspace is definitely the prettier service and<br /> it's reliance on open web-standards is commendable.
        <span class="end-quote">”</span>
      </blockquote>
      - <a href="http://www.readwriteweb.com/archives/bitspace_html5_streaming_music_and_music_backup_services.php" class="grey">ReadWriteWeb</a>
      <% when 2: %>
      <blockquote class="big-quote">
        <span class="start-quote">“</span>
        For me, Bitspace is for music what Vimeo is for video.<br /> Simply amazing stuff.
        <span class="end-quote">”</span>
      </blockquote>
      - <a href="http://twitter.com/AnthonyMirelli/status/9950231866" class="grey">Twitter</a>
      <% end %>
    </div>
  </div>
</div>
<hr />
<div class="color-3">
  <div class="container_16 clearfix">
    <div class="grid_4">
      <h2>Store your<br />music collection</h2>
      <p><strong>External harddrives are slow, clunky, loud, ugly,
        inconvenient and tend to crash when you least expect it.</strong>
        Bitspace is nothing like a harddrive. It's beautiful, safe and just
        works. Easily and securely backup music that you have bought in
        your favorite online digital music store. That way you don't have
        to buy all your lost music again when your harddrive crashes.</p>
    </div>
    <div class="grid_4">
      <h2>A better way to<br />organize music</h2>
      <p><strong>Tired of trying to keep your digital music library organized?</strong>
         Can't find the music you want when you need it? Or just want a good
         overview when you don't know what you want to listen to? We help you
         out by organizing the music for you. We make sure your meta data is
         correct and kept up to date, and we generate views
         that help you find music in a smart way.
    </div>
    <div class="grid_4">
      <h2>Always available<br />in the cloud</h2>
      <p><strong>Want to access your music from anywhere?</strong>
         Bitspace works just as well from home as behind a firewall at work. Your music library will always be available, no matter if you find yourself on a backstreet in Shibuya or on a beach in LA.
         There is no need for slow synchronizations between computers. You always have full
         access to all your favorite music, without worries.</p>
    </div>
    <div class="grid_4">
      <h2>HTML5 &ndash; for a better<br />and more useful web</h2>
      <p><strong>We use the latest web technologies in order to bring you the best
        possible product.</strong> With HTML5 we can utilize the native audio
        playback support in modern web browsers like Safari and Google Chrome.
        Bitspace can import and play pretty much all audio file formats
        in common use, like MP3, MP4, OGG, WMA and Flac with the click of a button.</p> 
    </div>
  </div>
</div>

<hr />

<div  id="price" style="padding:40px 0;">
<div class="color-1">
<div class="billboard" style="padding:20px 0;">
<div class="container_16 clearfix">
  <div class="grid_16 aligncenter">
    <h1>30-day Free Trial on All Accounts</h1>
  </div>
  
  <div class="grid_4 prefix_2 aligncenter">
    <div class="box" style="height: 236px; overflow: hidden; line-height: normal;">
      <h2 style="white-space:nowrap;"><strong><%= User::SUBSCRIPTION_PLANS[:premium][:name] %></strong></h2>
      <h3><%= number_to_currency(User::SUBSCRIPTION_PLANS[:premium][:price_in_euro], :unit => '€') %>/month</h3>
      <ul style="list-style: none;">
        <li style="margin: 0;"><strong><%= number_to_human_size(User::SUBSCRIPTION_PLANS[:premium][:storage]) || 'Unlimited' %></strong> storage</li>
        <li style="margin: 0;"><strong><%= bytes_to_albums(User::SUBSCRIPTION_PLANS[:premium][:storage]) %></strong> albums*</li>
        <li style="margin: 0;"><strong><%= bytes_to_tracks(User::SUBSCRIPTION_PLANS[:premium][:storage]) %></strong> tracks*</li>
      </ul>
      <p class="grey"><%= User::SUBSCRIPTION_PLANS[:premium][:tagline] %></p>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="<%= User::SUBSCRIPTION_PLANS[:premium][:paypal_button_id] %>">
      <input type="image" src="/images/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"<% if ENV['PRIVATE_BETA'] %> disabled="disabled" style="opacity:0.5;"<% end %>>
      <img alt="" border="0" src="https://www.paypal.com/sv_SE/i/scr/pixel.gif" width="1" height="1">
      </form>
    </div>
  </div>
    
  <div class="grid_4 aligncenter" style="position:relative;">
    <div class="sticker">
      <span class="small">Most<br/>popular<br/>plan</span>
    </div>
    <div class="box" style="height: 236px; overflow: hidden; line-height: normal; border:10px solid #fefefe; margin-top:-10px;">
      <h2 style="white-space:nowrap;"><strong><%= User::SUBSCRIPTION_PLANS[:standard][:name] %></strong></h2>
      <h3><%= number_to_currency(User::SUBSCRIPTION_PLANS[:standard][:price_in_euro], :unit => '€') %>/month</h3>
      <ul style="list-style: none;">
        <li style="margin: 0;"><strong><%= number_to_human_size(User::SUBSCRIPTION_PLANS[:standard][:storage]) %></strong> storage</li>
        <li style="margin: 0;"><strong><%= bytes_to_albums(User::SUBSCRIPTION_PLANS[:standard][:storage]) %></strong> albums*</li>
        <li style="margin: 0;"><strong><%= bytes_to_tracks(User::SUBSCRIPTION_PLANS[:standard][:storage]) %></strong> tracks*</li>
      </ul>
      <p class="grey"><%= User::SUBSCRIPTION_PLANS[:standard][:tagline] %></p>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="<%= User::SUBSCRIPTION_PLANS[:standard][:paypal_button_id] %>">
      <input type="image" src="/images/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"<% if ENV['PRIVATE_BETA'] %> disabled="disabled" style="opacity:0.5;"<% end %>>
      <img alt="" border="0" src="https://www.paypal.com/sv_SE/i/scr/pixel.gif" width="1" height="1">
      </form>
    </div>
  </div>
  
  <div class="grid_4 suffix_2 aligncenter">
    <div class="box" style="height: 236px; overflow: hidden; line-height: normal;">
      <h2 style="white-space:nowrap;"><strong><%= User::SUBSCRIPTION_PLANS[:basic][:name] %></strong></h2>
      <h3><%= number_to_currency(User::SUBSCRIPTION_PLANS[:basic][:price_in_euro], :unit => '€') %>/month</h3>
      <ul style="list-style: none;">
        <li style="margin: 0;"><strong><%= number_to_human_size(User::SUBSCRIPTION_PLANS[:basic][:storage]) %></strong> storage</li>
        <li style="margin: 0;"><strong><%= bytes_to_albums(User::SUBSCRIPTION_PLANS[:basic][:storage]) %></strong> albums*</li>
        <li style="margin: 0;"><strong><%= bytes_to_tracks(User::SUBSCRIPTION_PLANS[:basic][:storage]) %></strong> tracks*</li>
      </ul>
      <p class="grey"><%= User::SUBSCRIPTION_PLANS[:basic][:tagline] %></p>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="<%= User::SUBSCRIPTION_PLANS[:basic][:paypal_button_id] %>">
      <input type="image" src="/images/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"<% if ENV['PRIVATE_BETA'] %> disabled="disabled" style="opacity:0.5;"<% end %>>
      <img alt="" border="0" src="https://www.paypal.com/sv_SE/i/scr/pixel.gif" width="1" height="1">
      </form>
    </div>
  </div>
  
  <div class="grid_5 prefix_3 aligncenter" style="margin-top: 40px;">
    <h2 style="margin-bottom:10px">Bitspace Free <span>&ndash; <strong><%= number_to_human_size(User::SUBSCRIPTION_PLANS[:free][:storage]) || 'Unlimited' %></strong> storage</span></h2>
    <p class="grey">Completely free. No credit card required. <%= link_to('Sign up', '/signup') %>.</p>
  </div>
  
  <div class="grid_5 suffix_3 aligncenter" style="margin-top: 40px;">
    <h2 style="margin-bottom:10px">Additional storage <span>&ndash; Please contact us</span></h2>
    <p class="grey">Upgrade your current account with more storage.</p>
  </div>
</div>
</div>
</div>
<div class="container_16 clearfix">
  <div class="grid_16 aligncenter" style="margin-top: 40px;">
    <small class="small grey">
      * Actual capacity varies by content.
    </small>
  </div>
</div>
</div>

<hr id="gettingstarted" />

<div class="container_16 clearfix" style="margin-top:40px; margin-bottom:40px; font-size:14px; line-height: 22px;">
  <div class="grid_8">
    <h2>Download Bitspace</h2>
    <p>Bitspace works today on the following devices:</p>
    
    <div style="margin:15px 0 0 0; height:50px;">
    <%= image_tag('/images/iphone.png', :style => 'float:left; margin-right:20px;') %>
    <h3 style="margin:0;">Bitspace for the iPhone and iPod touch</h3>
    <p><%= link_to('Download from iTunes', appstore_path) %></p>
    </div>
    
    <div style="margin:15px 0 0 0; height:50px;">
    <%= image_tag('/images/macbook.png', :style => 'float:left; margin-right:20px;') %>
    <h3 style="margin:0;">Bitspace for Mac OS X</h3>
    <p><%= link_to('Download desktop client', download_path) %></p>
    </div>
    
    <div style="margin:15px 0 0 0; height:50px;">
    <%= image_tag('/images/safari.png', :style => 'float:left; margin-right:20px;') %>
    <h3 style="margin:0;">Bitspace for Safari, Firefox and Chrome</h3>
    <p><%= link_to('Use the web player', player_path(:trailing_slash => true)) %></p>
    </div>
  </div>
  <div class="grid_8">
    <h2>
      How do I get started with Bitspace?
    </h2>
    <ol>
      <li><strong>Get a supported device, OS or browser</strong> from the list on the left.</li>
      <li><strong>Create a Bitspace account</strong> by going <%= link_to('here', signup_path) %>.</li>
      <li><strong>Upload music from your collection</strong> using the desktop client or the web interface. Your music is securely stored on our servers and is always instantly available to stream any time you want.</li>
      <li><strong>Download the Bitspace app from iTunes</strong> to listen to and browse your collection from your iPhone or iPod touch.</li>
    </ol>
    <h2>Already signed up?</h2>
    <p>You can <%= link_to('upgrade your account', '#price') %> at any time to get more storage space, faster streaming and support for Last.fm scrobbling.</p>
  </div>
</div>

<hr />

<div class="container_16 clearfix" style="margin-top:60px;">
  <div class="grid_12 prefix_2 suffix_2 aligncenter">
    <%= image_tag('/images/about/screenshot-2.png', :style => 'margin-bottom:0px;') %>
  </div>
</div>

<div class="header" id="about">
  <div class="container_16 clearfix" style="margin-top:40px; margin-bottom:40px;">
    <div class="grid_4">
      <blockquote style="font-size:14px; padding:20px 20px 20px 30px; margin-right:20px; background:#e4e4e4; height:114px; -webkit-border-radius:10px; -moz-border-radius:10px;">
        <strong style="font-size:20px; margin-left:-16px;">&ldquo;</strong>
        Compared to Lala, Bitspace is definitely the prettier service and
        it's reliance on open web-standards is commendable.
        <strong style="font-size:20px;">&rdquo;</strong>
      </blockquote>
      <div style="background:url(/images/quote-bubble-arrow.png) no-repeat; height:16px;"></div>
      <p style="padding-left:30px;">
        <strong>Frederic Lardinois</strong><br />
        <em>ReadWriteWeb</em>
      </p>
    </div>
    <div class="grid_4">
      <blockquote style="font-size:14px; padding:35px 20px 20px 30px; margin-right:20px; background:#e4e4e4; height:99px; -webkit-border-radius:10px; -moz-border-radius:10px;">
        <strong style="font-size:20px; margin-left:-16px;">&ldquo;</strong>
        For me, Bitspace is for music what Vimeo is for video.
        Simply amazing stuff.
        <strong style="font-size:20px;">&rdquo;</strong>
      </blockquote>
      <div style="background:url(/images/quote-bubble-arrow.png) no-repeat; height:16px;"></div>
      <p style="padding-left:30px;">
        <strong>Anthony Mirelli</strong><br />
        <em>Music collector</em>
      </p>
    </div>
    <div class="grid_4">
      <blockquote style="font-size:14px; padding:20px 20px 20px 30px; margin-right:20px; background:#e4e4e4; height:114px; -webkit-border-radius:10px; -moz-border-radius:10px;">
        <strong style="font-size:20px; margin-left:-16px;">&ldquo;</strong>
        Bitspace is a game changer. It’s the finest example of a powerful, 
        beautiful and standards-compliant web application.
        <strong style="font-size:20px;">&rdquo;</strong>
      </blockquote>
      <div style="background:url(/images/quote-bubble-arrow.png) no-repeat; height:16px;"></div>
      <p style="padding-left:30px;">
        <strong>Federico Viticci</strong><br />
        <em>MacStories</em>
      </p>
    </div>
    <div class="grid_4">
      <blockquote style="font-size:14px; padding:30px 20px 20px 30px; margin-right:20px; background:#e4e4e4; height:104px; -webkit-border-radius:10px; -moz-border-radius:10px;">
        <strong style="font-size:20px; margin-left:-16px;">&ldquo;</strong>
        Amazing! [...]
        I can get back to getting started enjoying the luxurious
        environment you've created. 
        <strong style="font-size:20px;">&rdquo;</strong>
      </blockquote>
      <div style="background:url(/images/quote-bubble-arrow.png) no-repeat; height:16px;"></div>
      <p style="padding-left:30px;">
        <strong>DJ Quietstorm</strong><br />
        <em>Artist and producer</em>
      </p>
    </div>
    <hr />
    <div class="grid_16 aligncenter">
      <h1>How do you use Bitspace?</h1>
      <h3>We’re honored to receive such high marks from our customers.</h3>
    </div>
  </div>
</div>

<div class="container_12 clearfix" style="margin-top:60px;">
  <div class="grid_8">
    <h2>FAQ</h2>
    <div class="grid_4 alpha">
      <h3>Is my precious music safe on Bitspace?</h3>
      <p>We take very good care of your music here at Bitspace. We're like the
         nice friend that you pay to feed your Tamagotchi while you're away doing
         important stuff.</p>
      <p>All files are stored at least three times in at least two different
         geographically separated datacenters. So if one is crushed by Godzilla,
         the other one should still be up and running.</p>
      <p>We have very rigorous security and data backup processes. We won't lose
         a bit. Promise!</p>
    
      <h3>Can I really use Bitspace from anywhere?</h3>
      <p>Yep! Bitspace is available worldwide. It's the same experience no
        matter where you might live at the moment. We use a professional
        Content Delivery Network (CDN) with edge locations in the US, Europe and
        Asia to stream the music to you. That means your songs load just as fast
        from Tokyo or Hong Kong as from Stockholm or New York.</p>
      
      <h3>Does it Scrobble&trade;?</h3>
      <p>Yes, we are fully integrated with
         <strong>Last.fm</strong>.</p>
    
      <h3>How can I get Bitspace?</h3>
      <p>You <%= link_to('sign up', price_path) %> for a <strong>Basic</strong>, <strong>Standard</strong> or
         <strong>Premium</strong> account. All three are free for the first 30 days
         and you can of course choose to end your subscription at any time.</p>
    
      <h3>Do I have to listen to or look at ads?</h3>
      <p>No, we will never ever show banners or make you listen to ads between
         tracks on Bitspace. Not even on the free plan.</p>

    </div>
    <div class="grid_4 omega">
      <h3>What are the system requirements?</h3>
      <p>Right now the only thing you need is a Webkit based browser like
         <strong>Apple Safari</strong>
         or <strong>Google Chrome</strong>
         (or <strong>Google Chrome Frame</strong>
         in IE).</p>
    
     <h3>Does it work in Firefox?</h3>
     <p>Firefox does not support playing MP3 or MP4 files using the HTML5 audio-tag
        for political reasons. Bitspace still work just fine in Firefox but
        will use the Adobe Flash Player to play your music instead.</p>
    
      <h3>Do I have to use Bitspace in my browser?</h3>
      <p>No, we currently have an official desktop client for OS X that can be 
        downloaded from the <%= link_to('download page', download_path) %>.</p>
    
      <h3>What about mobile devices?</h3>
      <p><%= link_to('Bitspace for the iPhone', appstore_path) %> is available on the App Store for free.</p>
    
      <h3>How does the 30-day free trial work?</h3>
      <p>If you cancel a paying plan within 30 days of signing up you won’t be
      charged a thing. If you do choose to cancel your account in the future you
      will never be charged again, but you are responsible for charges already
      incurred up until your cancellation. Refunds can not be issued after your
      initial 30 day trial and we don’t prorate for partial months.</p>

      <h3>Do I get a 30-day free trial if I upgrade?</h3>
      <p>If you upgrade from a free account to a pay account you are not
      eligible for the 30-day free trial. The 30-day free trial on paying plans
      only applies if you sign up for a paying plan now.</p>
    </div>
  </div>
  
  <div class="grid_4">
    <div style="border-left:1px solid #eee; padding-left:20px;">
      <h2>Press &amp; Media</h2>
      <p><strong>Bitspace has been mentioned in the following publications...</strong></p>
    
      <p><%= image_tag('http://www.readwriteweb.com/mt-static/themes/rww-ideacodes/images/logo.png', :size => '200x28') %></p>
      <p><%= image_tag('http://c0588192.cdn.cloudfiles.rackspacecloud.com/logo.png', :size => '200x59') %></p>
    
      <p><em>Do you want to write about Bitspace? Great! You should check out our <%= link_to('press kit', '/press') %>.</em></p>
    
      <h2>Help &amp; Support</h2>
      <ul>
        <li><h3><%= mail_to('support@sutajio.se', 'I have a question concerning<br /> my subscription →', :subject => 'Subscription problems', :encode => 'javascript') %></h3></li>
        <li><h3><a href="http://getsatisfaction.com/bitspace">I have feedback or want to<br /> report a bug →</a></h3></li>
      </ul>
    
      <div id='gsfn_list_widget'>
      <strong>Active customer service discussions in <a href="http://getsatisfaction.com/bitspace" class="widget_title">Bitspace</a></strong>
      <div id='gsfn_content'>Loading...</div>
      </div>
    </div>

    <script src="http://getsatisfaction.com/bitspace/widgets/javascripts/4460f9fd1c/widgets.js" type="text/javascript"></script>
    <script src="http://getsatisfaction.com/bitspace/topics.widget?callback=gsfnTopicsCallback&amp;limit=5&amp;sort=last_active_at" type="text/javascript"></script>
    
    <div class="aligncenter" style="margin-top:20px">
    <a href="http://getsatisfaction.com/bitspace"><img alt="Badge_get_help" src="http://getsatisfaction.com/images/badges/badge_get_help.png" /></a>
    </div>
  </div>
</div>

<hr />

<div class="container_16 clearfix">
  <div class="grid_16 aligncenter">
    <h2><%= link_to('<strong><u>Try Bitspace for free for 30 days.</u></strong> See plans and pricing →', '#price', :target => '_self') %></h2>
    <h3 class="grey">60 seconds from signing up to enjoying your music. No credit card required. No obligations.</h3>
  </div>
</div>

<script>
$(function(){
  $.address.change(function(e){
    if(e.value != '/') {
      $('html, body').animate({
        scrollTop: $('#'+new RegExp('/(.+)$').exec(e.value)[1]).offset().top
      }, 500);
    }
  });

  $('a[target=_self]').livequery('click', function(e){
    e.preventDefault();
    $.address.value(new RegExp('#(.+)$').exec(this.href)[1]);
  });
});
</script>