<div class="container_16 clearfix">
  <div class="grid_16 aligncenter">
    <h1>30-day Free Trial on All Accounts</h1>
    <h3 class="grey">1,000 people a week sign up for Bitspace. Get your own in 60 seconds.</h3>
  </div>
  
  <div class="grid_4 prefix_2 aligncenter">
    <div class="box" style="height: 236px; overflow: hidden; line-height: normal;">
      <h2><strong><%= User::SUBSCRIPTION_PLANS[:free][:name] %></strong></h2>
      <h3><%= number_to_currency(User::SUBSCRIPTION_PLANS[:free][:price_in_euro], :unit => '€') %>/month</h3>
      <ul style="list-style: none;">
        <li style="margin: 0;"><strong><%= number_to_human_size(User::SUBSCRIPTION_PLANS[:free][:storage]) %></strong> storage</li>
        <li style="margin: 0;"><strong><%= bytes_to_albums(User::SUBSCRIPTION_PLANS[:free][:storage]) %></strong> albums*</li>
        <li style="margin: 0;"><strong><%= bytes_to_tracks(User::SUBSCRIPTION_PLANS[:free][:storage]) %></strong> tracks*</li>
      </ul>
      <p class="small grey">Bitspace Free is currently<br />
        invitation only. </p>
    </div>
  </div>
    
  <div class="grid_4 aligncenter">
    <div class="box" style="height: 236px; overflow: hidden; line-height: normal;">
      <h2><strong><%= User::SUBSCRIPTION_PLANS[:premium][:name] %></strong></h2>
      <h3><%= number_to_currency(User::SUBSCRIPTION_PLANS[:premium][:price_in_euro], :unit => '€') %>/month</h3>
      <ul style="list-style: none;">
        <li style="margin: 0;"><strong><%= number_to_human_size(User::SUBSCRIPTION_PLANS[:premium][:storage]) %></strong> storage</li>
        <li style="margin: 0;"><strong><%= bytes_to_albums(User::SUBSCRIPTION_PLANS[:premium][:storage]) %></strong> albums*</li>
        <li style="margin: 0;"><strong><%= bytes_to_tracks(User::SUBSCRIPTION_PLANS[:premium][:storage]) %></strong> tracks*</li>
      </ul>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="9369035">
      <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" disabled="disabled" style="opacity:0.5;">
      <img alt="" border="0" src="https://www.paypal.com/sv_SE/i/scr/pixel.gif" width="1" height="1">
      </form>
    </div>
  </div>
  
  <div class="grid_4 suffix_2 aligncenter">
    <div class="box" style="height: 236px; overflow: hidden; line-height: normal;">
      <h2><strong><%= User::SUBSCRIPTION_PLANS[:unlimited][:name] %></strong></h2>
      <h3><%= number_to_currency(User::SUBSCRIPTION_PLANS[:unlimited][:price_in_euro], :unit => '€') %>/month</h3>
      <ul style="list-style: none;">
        <li style="margin: 0;"><strong><%= number_to_human_size(User::SUBSCRIPTION_PLANS[:unlimited][:storage]) || 'Unlimited' %></strong> storage</li>
        <li style="margin: 0;"><strong><%= bytes_to_albums(User::SUBSCRIPTION_PLANS[:unlimited][:storage]) %></strong> albums</li>
        <li style="margin: 0;"><strong><%= bytes_to_tracks(User::SUBSCRIPTION_PLANS[:unlimited][:storage]) %></strong> tracks</li>
      </ul>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="9369365">
      <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" disabled="disabled" style="opacity:0.5;">
      <img alt="" border="0" src="https://www.paypal.com/sv_SE/i/scr/pixel.gif" width="1" height="1">
      </form>
    </div>
  </div>
  
  <div class="grid_16 aligncenter" style="margin-top: 40px;">
    <small class="small grey">
      * Actual capacity varies by content.
    </small>
  </div>
</div>