<div class="container_16 clearfix">
  <div class="grid_16 aligncenter">
    <div class="slideshow">
      <p>
      <%= image_tag('/images/tour/screenshot-1.png') %>
      <%= image_tag('/images/tour/screenshot-2.png') %>
      <%= image_tag('/images/tour/screenshot-3.png') %>
      <%= image_tag('/images/tour/screenshot-4.png') %>
      <%= image_tag('/images/tour/screenshot-5.png') %>
      <%= image_tag('/images/tour/screenshot-6.png') %>
      <%= image_tag('/images/tour/screenshot-7.png') %>
      <%= image_tag('/images/tour/screenshot-8.png') %>
      </p>
      
      <h2><%= link_to('See plans and pricing →', price_path) %></h2>
    </div>
  </div>
</div>