<div class="container_16 clearfix">
  <div class="grid_16 aligncenter">
    <div class="slideshow">
      <p>
      <%= link_to(image_tag('/images/tour/screenshot-1.png', :alt => 'Screenshot of the Bitspace Player showing the artists view with artist like Apparat, Arcade Fire, Atlas Sound, Aztec Camera, Belle and Sebastion, and Black Dice.'), root_url) %>
      <%#= image_tag('/images/tour/screenshot-2.png') %>
      <%= link_to(image_tag('/images/tour/screenshot-3.png', :alt => 'Screenshot of the Bitspace Player showing the album art for "We Brave Bee Stings" by Thao Nguyen and the Get Down Stay Down.'), root_url) %>
      <%= link_to(image_tag('/images/tour/screenshot-4.png', :alt => 'Screenshot of the Bitspace Player with the releases view with albums by Vampire Weekend, Real Estate, Mos Def, Shugo Tokumaru and Electric President.'), root_url) %>
      <%#= image_tag('/images/tour/screenshot-5.png') %>
      <%#= image_tag('/images/tour/screenshot-6.png') %>
      <%#= image_tag('/images/tour/screenshot-7.png') %>
      <%= link_to(image_tag('/images/tour/screenshot-8.png', :alt => 'Screenshot of the Bitspace Player showing two releases by The Microphones: "Mount Eerie" (2003) and "The Glow Pt. 2" (2001).'), root_url) %>
      </p>
      
      <h2><%= link_to('See plans and pricing →', price_path) %></h2>
    </div>
  </div>
</div>