<div class="container_16 clearfix">
  <div class="grid_8 prefix_4 suffix_4 aligncenter">
    <% if flash[:error] %>
    <div class="error">
      <%=h flash[:error] %>
    </div>
    <% end %>
    <h1 style="margin: 0;">Welcome to <%=h @user.subscription_plan %></h1>
    <h3 class="grey">
      You will get <%= number_to_human_size(@user.max_storage) || 'insane amounts' %> of music storage, wow!
    </h3>
    <div class="box">
      <% form_for @user, :url => invitation_path(@invitation), :html => { :id => 'signup-form', :method => :put } do |f| %>
        <%= f.error_messages %>
        <div class="field">
          <%= f.label :email %>
          <%= f.text_field :email, :class => 'required email' %>
          <kbd>Your email address</kbd>
        </div>
        <div class="field">
          <%= f.label :login %>
          <%= f.text_field :login, :class => 'required' %>
          <kbd>Username, can be anything</kbd>
        </div>
        <div class="field">
          <%= f.label :password %>
          <%= f.password_field :password, :class => 'required' %>
          <kbd>A secure password</kbd>
        </div>
        <div class="field">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, :class => 'required' %>
          <kbd>A secure password</kbd>
        </div>
        <div class="submit-row">
          <p>
            <button type="submit">Create my account</button>
          </p>
          <p class="small grey">
            By clicking on 'Create my account' above,<br/>
            you confirm that you accept the <%= link_to('Terms of Service', '/terms') %>.
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>