<div class="container_16 clearfix aligncenter">
  <% if @user != current_user || @latest.present? %>
    <div class="grid_16">
      <div class="dashboard clearfix">
        <%= link_to(image_tag(@latest[0] ? @latest[0].artwork.url(:large, false) : '/images/cover-art.jpg', :size => '313x313', :alt => 'Cover art'), @latest[0] || '/', :class => 'cover-art', :target => '_self', :style => 'display:block; float:left;') %>
        <%= link_to(image_tag(@latest[1] ? @latest[1].artwork.url(:large, false) : '/images/cover-art.jpg', :size => '313x313', :alt => 'Cover art'), @latest[1] || '/', :class => 'cover-art', :target => '_self', :style => 'display:block; float:left;') %>
        <%= link_to(image_tag(@latest[2] ? @latest[2].artwork.url(:large, false) : '/images/cover-art.jpg', :size => '313x313', :alt => 'Cover art'), @latest[2] || '/', :class => 'cover-art', :target => '_self', :style => 'display:block; float:left;') %>
      </div>
    </div>
  <% else %>
    <div class="grid_10">
      <div class="pane dashboard" style="height:200px; padding:20px 30px;">
        <h1>Welcome to your Bitspace!</h1>
        <p style="font-family: Georgia, Times, serif; font-size: 14px; font-weight: normal;">
          <%= image_tag('/images/kitten.png', :style => 'float:right;') %>
          We realize trying out a new service may seem a little daunting at
          first, so we want to make things as easy for you as possible.
          We hope that you enjoy using Bitspace, and would love to hear what
          you have to say, whether it be suggestions or any questions about
          the service. Feel free to drop us a line at 
          <%= mail_to('feedback@bitspace.se') %>.
        </p>
        <p class="grey">
          Regards, The Bitspace Team
        </p>
      </div>
    </div>
    <div class="grid_6">
      <div style="z-index:2; position:absolute; padding:43px 56px; margin: 0 -38px 0 -56px; background: url(/images/dashboard-blue-bubble.png) no-repeat; width: 320px; height: 114px; font-size: 18px; font-family: Georgia; font-style: italic; text-shadow: #00f 0px 0px 1px;">
        <div style="padding:18px 0;">Konnichiwa! You can start uploading your music collection right now. Just click the &raquo;Upload&laquo; (+) button below.</div>
      </div>
    </div>
  <% end %>
  
  <div class="grid_8 prefix_4 suffix_4 grey">
    <h3>
      <%= pluralize(@user.artists.with_releases.size, 'artist') %>,
      <%= pluralize(@user.releases.size, 'release') %>,
      <% if @user.subscribable? %>
      <%= pluralize(@user.subscribers.size, 'subscriber') %>
      <% else %>
      <%= pluralize(@user.followers.size, 'follower') %>
      <% end %>
    </h3>
    
    <hr />
    
    <% if @user.biography.present? %>
    <p class="bio">
      <%= auto_link(h(@user.biography)) %>
    </p>
    <hr />
    <% end %>
      
    <% if @user.memberships.present? %>
    <p class="memberships">
      <span>I'm a fan of </span>
      <span style="font-size:18px;"> &ndash;
      <%= @user.memberships.map { |membership|
        link_to(membership.user.login.anal_title_case, profile_path(membership.user.login), :target => '_blank')
      }.join(' &ndash; ') %>
      </span>
    </p>
    <hr />
    <% end %>
    
    <% if @user.subscribable? %>
      <% if @user.subscribers.present? %>
      <p class="subscribers clearfix">
      <% @user.subscribers.each do |subscriber| %>
        <%= link_to(image_tag(gravatar_url(subscriber), :size => '35x35'), profile_path(subscriber.login), :target => '_blank', :class => 'tooltipped', :title => subscriber.login, :style => 'float:left; margin:3px;') %>
      <% end %>
      </p>
      <hr />
      <% end %>
    <% else %>
      <% if @user.followers.present? %>
      <p class="followers clearfix">
      <% @user.followers.each do |follower| %>
        <%= link_to(image_tag(gravatar_url(follower), :size => '35x35'), profile_path(follower.login), :target => '_blank', :class => 'tooltipped', :title => follower.login, :style => 'float:left; margin:3px;') %>
      <% end %>
      </p>
      <hr />
      <% end %>
    <% end %>
  </div>
  
</div>