<% content_tag_for(:li, release, :class => 'clearfix') do %>
  <div class="info">
    <%= link_to(image_tag(release.artwork.url(:small), :size => '125x125'), edit_artist_release_path(@artist, release), :class => 'cover-art') %>
    <h2><%=h release.title %> (<%= release.year %>)</h2>
    <h3><%=h release.artist.name %></h3>
  </div>
  <ol class="tracks">
    <%= render :partial => 'tracks/track', :collection => release.tracks %>
  </ol>
<% end %>