<% content_tag_for(:li, release, :class => 'clearfix') do %>
  <div class="info">
    <% if release.artwork.file? %>
    <%= link_to(image_tag(release.artwork.url(:small, false), :size => '125x125', :alt => 'Cover art'), release_path(release), :class => 'cover-art', :target => '_self') %>
    <% else %>
    <%= link_to(image_tag(release.artwork.url(:small, false), :size => '125x125', :alt => 'Cover art'), release_path(release), :class => 'cover-art', :target => '_self') %>
    <% end %>
    <% unless (params[:controller] == 'releases' && params[:action] == 'show') %>
    <h2>
      <%= link_to(h(release.title), release, :target => '_self') %>
      <% if release.year.present? %>
      <span class="year">(<%= release.year %>)</span>
      <% end %>
    </h2>
    <h3><%= link_to(h(release.artist.name), release.artist, :target => '_self') %></h3>
    <% end %>
  </div>
  <% release.tracks.sort_by{|t| t.set_nr.to_i }.group_by(&:set_nr).each do |set_nr, tracks| %>
  <ol class="tracks">
    <%= render :partial => 'tracks/track', :collection => tracks.sort_by {|t| t.track_nr.to_i }, :locals => { :playable => release.playable?(current_user) } %>
  </ol>
  <% end %>
<% end %>