<% content_tag_for(:li, release, :class => 'clearfix') do %>
  <div class="info">
    <% if release.artwork.file? %>
    <%= link_to(image_tag(release.artwork.url(:small, false), :size => '125x125', :alt => 'Cover art'), release.artwork.url(:large, false), :class => 'cover-art', :rel => 'shadowbox') %>
    <% else %>
    <%= link_to(image_tag(release.artwork.url(:small, false), :size => '125x125', :alt => 'Cover art'), artwork_release_path(release), :class => 'cover-art', :title => 'Click here to upload cover art for this release', :target => '_self') %>
    <% end %>
    <% unless (params[:controller] == 'releases' && params[:action] == 'show') %>
    <h2>
      <%= link_to(h(release.title), release, :target => '_self') %>
      <% if release.year.present? %>
      <span class="year">(<%= link_to(release.year, year_path(release.year), :target => '_self') %>)</span>
      <% end %>
    </h2>
    <h3><%= link_to(h(release.artist.name), release.artist, :target => '_self') %></h3>
    <% end %>
  </div>
  <% release.tracks.sort_by{|t| t.set_nr.to_i }.group_by(&:set_nr).each do |set_nr, tracks| %>
  <ol class="tracks">
    <%= render :partial => 'tracks/track', :collection => tracks.sort_by {|t| t.track_nr.to_i } %>
  </ol>
  <% end %>
  <% if params[:controller] == 'releases' && params[:action] == 'show' %>
  <div class="actions">
    <%= link_to('Edit', edit_release_path(release), :target => '_self') %>
    <%= link_to('Upload artwork', artwork_release_path(release), :target => '_self') %>
    <%= link_to('Archive', archive_release_path(release), :title => 'If archived, a release will be hidden and will only show up in search results.', :rel => 'archive', :class => release.archived? ? 'archived tooltipped' : 'tooltipped') %>
    <%= link_to('Delete', release_path(release), :title => 'The release will be permanently deleted from your library. This can not be undone!', :rel => 'delete', :class => 'tooltipped') %>
  </div>
  <div class="meta small grey">
    <% if release.release_date.present? %><label>Released:</label> <%= link_to(release.release_date, year_path(release.release_date.year), :target => '_self') %><br /><% end %>
    <% if release.label.present? %><label>Label:</label> <%= link_to(h(release.label.name), label_path(release.label), :target => '_self') %><% end %>
  </div>
  <% end %>
<% end %>