<% content_tag_for(:li, release, :class => 'clearfix') do %>
  <div class="info">
    <% if release.artwork.file? %>
    <%= link_to(image_tag(release.artwork.url(:small, false), :size => '125x125', :alt => 'Cover art'), release.artwork.url(:large, false), :class => 'cover-art', :rel => 'shadowbox') %>
    <% else %>
    <%= link_to(image_tag(release.artwork.url(:small, false), :size => '125x125', :alt => 'Cover art'), edit_artist_release_path(release.artist, release), :class => 'cover-art', :title => 'Click here to upload cover art for this release', :target => '_self') %>
    <% end %>
    <% unless (params[:controller] == 'releases' && params[:action] == 'show') %>
    <h2>
      <%= link_to(h(release.title), [release.artist, release], :target => '_self') %>
      <% if release.year.present? %>
      <span class="year">(<%= link_to(release.year, year_path(release.year), :target => '_self') %>)</span>
      <% end %>
    </h2>
    <h3><%= link_to(h(release.artist.name), release.artist, :target => '_self') %></h3>
    <% end %>
  </div>
  <% release.tracks.sort_by{|t| t.set_nr.to_i }.group_by(&:set_nr).each do |set_nr, tracks| %>
  <ol class="tracks">
    <%= render :partial => 'tracks/track', :collection => tracks.sort_by {|t| t.track_nr } %>
  </ol>
  <% end %>
  <% if params[:controller] == 'releases' && params[:action] == 'show' %>
  <div class="actions">
    <!-- <%= link_to(image_tag('/images/share.png'), artist_release_url(release.artist, release), :title => 'Share', :target => '_blank') %> -->
    <%= link_to('Upload artwork', edit_artist_release_path(release.artist, release), :target => '_self') %>
    <%= link_to('Archive', archive_artist_release_path(release.artist, release), :title => 'If archived, a release will be hidden and will only show up in search results.', :rel => 'archive', :class => release.archived? ? 'archived tooltipped' : 'tooltipped') %>
    <%= link_to('Delete', artist_release_path(release.artist, release), :title => 'The release will be permanently deleted from your library. This can not be undone!', :rel => 'delete', :class => 'tooltipped') %>
  </div>
  <div class="meta">
    <% if release.release_date.present? %>
    <p class="release-date small grey">
      <label>Released:</label> <%= release.release_date %>
    </p>
    <% end %>
  </div>
  <% end %>
<% end %>