<% if current_user.storage_left <= 0 %>
<div class="aligncenter small">You don't have any storage left. Sorry!</div>
<% else %>
<div id="upload-button" class="tooltipped" title="Upload">
  <div id="upload-button-swf"></div>
</div>
<div id="upload-info">
  <div id="upload-spinner"><%= image_tag('/images/upload-spinner.gif', :size => '32x32', :alt => 'Uploading...') %></div>
  <div id="upload-progress">0%</div>
</div>
<% if @user == current_user && @user.tracks.originals.empty? %>
<div id="crayons-help-upload" class="crayons-help">
  Click here to upload your music
</div>
<% end %>
<script type="text/javascript">
$(function(){
  $('#upload-button').each(function(){
    $(this).swfupload({
      upload_url: "<%= s3_upload_url %>",
      file_size_limit: 0,
      file_types: "*.mp3;*.m4a;*.mp4;*.aac;*.ogg;*.oga;*.wma;*.flac",
      file_types_description: "Audio files",
      file_post_name: "file",
      button_image_url : "../../images/button-upload-new.png",
      button_placeholder_id : "upload-button-swf",
      button_width: 30,
      button_height: 32,
      button_window_mode: SWFUpload.WINDOW_MODE.TRANSPARENT,
      button_cursor: SWFUpload.CURSOR.HAND,
      flash_url: "/vendor/swfupload/swfupload.swf",
      post_params: <%= s3_upload_params(
                        :AWSAccessKeyId => ENV['AMAZON_ACCESS_KEY_ID'],
                        :AWSSecretAccessKey => ENV['AMAZON_SECRET_ACCESS_KEY'],
                        :meta_fields => %w(),
                        :flash => true) %>
    })
    .bind('fileQueued', function(e, file){
      $('#crayons-help-upload').hide('fast');
      $('#upload-info').fadeIn('slow').removeClass('finished');
      $(this).swfupload('startUpload');
    })
    .bind('uploadComplete', function(e, file){
        var self = this;
        $.post("<%= uploads_url %>",
          { 'upload[key]': "<%= s3_upload_key_prefix %>"+file.name },
          function(){
            $(self).swfupload('startUpload');
          });
    })
    .bind('queueComplete', function(e, uploadCount){
      $('#upload-info').fadeOut('slow').addClass('finished');
    })
    .bind('uploadProgress', function(e, file, bytesLoaded){
      var percent = Math.ceil((bytesLoaded / file.size) * 100);
      $('#upload-progress').text(percent + '%');
    });
  });
});
</script>
<% end %>