<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <title>Bitspace</title>
    <%= stylesheet_link_tag :defaults %>
    <%= stylesheet_link_tag :application %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag :upload %>
  </head>
  <body class="black">
    <div id="upload" class="dialog">
      <div id="upload-button">
        <div id="upload-button-swf"></div>
      </div>
      <div id="upload-info">
        <div id="upload-progress" class="progress">
          <div class="gauge"></div>
        </div>
        <div id="upload-status" class="progress-status">Please select files to upload.</div>
      </div>
    </div>
    <script type="text/javascript">
    $(function(){
      $('#upload-button').each(function(){
        $(this).swfupload({
          upload_url: "<%= s3_upload_url %>",
          file_size_limit: 0,
          file_types: "*.mp3",
          file_types_description: "MP3 Audio files",
          file_post_name: "file",
          button_image_url : "../../images/button-select-files.png",
          button_placeholder_id : "upload-button-swf",
          button_width: 100,
          button_height: 32,
          button_window_mode: SWFUpload.WINDOW_MODE.TRANSPARENT,
          button_cursor: SWFUpload.CURSOR.HAND,
          flash_url: "/vendor/swfupload/swfupload.swf",
          post_params: <%= s3_upload_params(
                            :AWSAccessKeyId => ENV['AMAZON_ACCESS_KEY_ID'],
                            :AWSSecretAccessKey => ENV['AMAZON_SECRET_ACCESS_KEY'],
                            :meta_fields => %w(),
                            :flash => true) %>
        })
        .bind('fileQueued', function(e, file){
          $(this).swfupload('startUpload');
        })
        .bind('uploadComplete', function(e, file){
            var self = this;
            $('#upload-status').text('Queueing file for processing...');
            $.post("<%= uploads_url %>",
              { 'upload[key]': "<%= s3_upload_key_prefix %>"+file.name },
              function(){
                $('#upload-status').text('Upload finished.');
                $(self).swfupload('startUpload');
              });
        })
        .bind('uploadProgress', function(e, file, bytesLoaded){
          var percent = Math.ceil((bytesLoaded / file.size) * 100);
          $('#upload-progress .gauge').width(percent + '%');
          $('#upload-status').text(file.name + ' – ' + percent + '%');
        });
      });
    });
    </script>
  </body>
</html>