<div class="container_16 clearfix">
  <%= render :partial => 'navigation' %>
</div>

<div class="container_16 clearfix pane">
  <div class="grid_16">
    <ul class="releases playlists">
      <li class="release playlist clearfix">
        <%= render :partial => 'playlist_info', :locals => { :tracks => @tracks } %>
        <ol class="tracks">
          <% cache [Digest::MD5.hexdigest(@tracks.map(&:cache_key).to_s), current_user && current_user.subscribes_to?(@user)] do %>
          <%= render :partial => 'tracks/track', :collection => @tracks, :locals => { :show_artist => true, :playable => current_user && current_user.subscribes_to?(@user) } %>
          <% end %>
        </ol>
        <% if @tracks.total_entries > @tracks.size %>
        <p class="fallback small" style="text-align:right;">Showing <%= pluralize(@tracks.size, 'tracks') %> out of <%= pluralize(@tracks.total_entries, 'loved tracks') %> in total.</p>
        <% end %>
      </li>
    </ul>
  </div>
</div>