<div class="container_16 clearfix pane">
  <div class="grid_16">
    <%= render :partial => 'navigation' %>
    
    <ul class="releases playlists">
      <li class="release playlist clearfix">
        <%= render :partial => 'playlist_info', :locals => { :tracks => @tracks } %>
        <ol class="tracks">
          <%= render :partial => 'tracks/track', :collection => @tracks, :locals => { :show_artist => true } %>
        </ol>
        <% if @tracks.total_entries > @tracks.size %>
        <p class="fallback small" style="text-align:right;">Showing <%= pluralize(@tracks.size, 'tracks') %> out of <%= pluralize(@tracks.total_entries, 'played tracks') %> in total.</p>
        <% end %>
      </li>
    </ul>
  </div>
</div>