<% unless @user %>
<div id="share-footer">
  <div class="container_16 clearfix">
    <div class="grid_16 aligncenter">
      <div>
        Follow us on <a href="http://twitter.com/bitspaced">Twitter</a> /
        Join us on <a href="http://last.fm/group/Bitspace">Last.fm</a> /
        Become a fan on <a href="http://www.facebook.com/pages/Bitspace/172171790806">Facebook</a>
      </div>
      <div class="grey">
        Bitspace is currently <%= 'PRIVATE' if ENV['PRIVATE_BETA'] %> BETA software.
      </div>
      <div class="save-elsewhere">
        <% link_to("http://del.icio.us/post?url=#{root_url}&title=Bitspace", :target => '_blank', :title => 'Save on del.icio.us') do %>
          <%= image_tag('/images/share/delicious.gif') %>
        <% end %>
        <% link_to("http://www.facebook.com/share.php?u=#{root_url}&t=Bitspace", :target => '_blank', :title => 'Share on Facebook') do %>
          <%= image_tag('/images/share/facebook.gif') %>
        <% end %>
        <% link_to("http://digg.com/submit?url=#{root_url}&title=Bitspace&bodytext=&media=news&topic=music", :target => '_blank', :title => 'Post at Digg') do %>
          <%= image_tag('/images/share/digg.gif') %>
        <% end %>
        <% link_to("http://twitter.com/home?status=Bitspace:%20#{root_url}", :target => '_blank', :title => 'Tweet on Twitter') do %>
          <%= image_tag('/images/share/twitter.gif') %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
<div id="company-footer">
  <div class="container_16 clearfix">
    <div class="grid_16 aligncenter">
      <% unless @user %>
      <p><%= image_tag('/images/logo_200x200_inverted.png', :size => '150x150') %></p>
      <% end %>
      <h2><%= link_to('Bitspace', root_url) %><span>&trade;</span> <span>is <del>a product</del> <ins>an art project</ins> from the <a href="http://www.koneko-collective.com/">Koneko Collective</a></span></h2>
      <div>
        <%= link_to('About', about_path) %> /
        <%= mail_to('info@sutajio.se', 'Contact', :encode => 'javascript') %> /
        <%= link_to('Press', press_path) %> /
        <%= link_to('Support', 'http://getsatisfaction.com/bitspace') %> /
        <%= link_to('API', developer_path) %> /
        <%= link_to('Terms and Conditions', '/terms') %> /
        <%= link_to('Signup and Pricing', price_path) %>
      </div>
      <div class="grey">
        All text and design is copyright &copy;<%= Time.now.year %> Sutajio HB. All rights reserved.
      </div>
      <div class="grey">
        <em>We like you.</em>
      </div>
    </div>
  </div>
</div>