<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="robots" content="noindex" />
    <link rel="icon" href="/images/logos/favicon.png" type="image/png" />
    <link rel="shortcut icon" href="/images/logos/favicon.png" type="image/png" />
    <link rel="fluid-icon" href="/images/logos/fluid.png" title="Bitspace" />
    <link rel="apple-touch-icon" href="/images/logos/touch.png" />
    <% if @page_title.present? %>
      <title><%=h @page_title %></title>
    <% else %>
      <title>Bitspace</title>
    <% end %>
    <%= stylesheet_link_tag :common %>
    <%= stylesheet_link_tag :application %>
    <%= javascript_include_tag :common %>
    <%= javascript_include_tag :application %>
  </head>
  <body>
    <div id="root">
      <div class="container_12 clearfix">
        <ul id="menu" class="clearfix">
          <li class="grid_1"><%= link_to('Overview', root_path, :target => '_self', :rel => 'start') %></li>
          <li class="grid_1"><%= link_to('Artists', artists_path, :target => '_self', :rel => 'contents') %></li>
          <li class="grid_1"><%= link_to('Releases', releases_path, :target => '_self', :rel => 'contents') %></li>
          <% if @user.account_type == 'collector' %>
          <li class="grid_1"><%= link_to('Labels', labels_path, :target => '_self', :rel => 'contents') %></li>
          <li class="grid_1"><%= link_to('Years', years_path, :target => '_self', :rel => 'contents') %></li>
          <li class="grid_1"><%= link_to('Playlists', playlists_path, :target => '_self', :rel => 'contents') %></li>
          <% end %>
          <% if @user == current_user %>
          <li class="grid_1 <% if @user.account_type == 'collector' %>prefix_2<% else %>prefix_5<% end %> usernav">
            <%= link_to('Account', account_path, :target => '_self', :title => 'Change your account settings here', :class => 'tooltipped') %>
          </li>
          <li class="grid_1 usernav">
            <%= link_to("Sign out", logout_path, :method => :delete, :title => 'Sign out from Bitspace', :class => 'tooltipped') %>
          </li>
          <% else %>
          <li class="grid_4 usernav<% if @user.account_type != 'collector' %> prefix_3<% end %>">
            <div class="profilenav">
              <% if @user.subscribable?%>
                <% if !(current_user && current_user.subscribes_to?(@user)) %>
                <div id="crayons-help-subscribe" class="crayons-help"></div>
                <%= link_to('<i></i> Subscribe', subscribe_profile_path(@user.login), :class => 'subscribe-button tooltipped', :title => "Subscribe to #{h(@user.login.anal_title_case)} for #{@user.subscription_price_with_currency} per #{@user.subscription_periodicity_as_period}") %>
                <% else %>
                <span class="subscribe-button"><i></i> You are a fan!</span>
                <% end %>
              <% else %>
                <% if current_user && current_user.follows?(@user) %>
                <%= link_to('<i></i> Unfollow', follow_profile_path(@user.login, :return_to => request.path), :method => :put, :class => 'unfollow-button tooltipped', :title => "Unfollow #{h(@user.login.anal_title_case)}") %>
                <% else %>
                <%= link_to('<i></i> Follow', follow_profile_path(@user.login, :return_to => request.path), :method => :put, :class => 'follow-button tooltipped', :title => "Follow #{h(@user.login.anal_title_case)}") %>
                <% end %>
              <% end %>
              
              <% if @user.website.present? %>
              <%= link_to('<i></i> Website', h(@user.website), :rel => 'nofollow', :target => '_blank', :class => 'website-button tooltipped', :title => "#{h(@user.login.anal_title_case)} has a website, go take a look!") %>
              <% else %>
              <%= content_tag(:span, '<i></i> Website', :class => 'website-button disabled tooltipped', :title => "#{h(@user.login.anal_title_case)} doesn't have a website :(") %>
              <% end %>
            </div>
          </li>
          <% end %>
          <li class="grid_2 last">
            <% form_tag(search_path, :method => 'get') do %>
              <input type="search" results="5" name="q" id="search-q" />
            <% end %>
            <div id="search-suggestions"></div>
          </li>
        </ul>
      </div>
      <div id="page">
        <%= yield %>
      </div>
    </div>
    <div id="info">
      <div id="error"></div>
      <div id="message"></div>
      <div id="status">
        <div class="container_16 clearfix">
          <div class="grid_16">
            <div>
              <a id="status-artist" href="#" target="_self"></a> &ndash;
              <a id="status-track" href="#" target="_self"></a>
            </div>
            <div>
              <a id="status-release" href="#" target="_self"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="nav">
      <div id="nav-fade">
        <div class="container_16 clearfix">
          <div class="grid_16">
            <div id="nav-playback">
              <button rel="prev" id="nav-prev" disabled="disabled">← Prev</button>
              <button rel="play-pause" id="nav-play-pause" disabled="disabled">Play/Pause</button>
              <button rel="next" id="nav-next" disabled="disabled">Next →</button>
            </div>
            <div id="nav-mute">
              <%= check_box_tag :mute, true %>
              <%= label_tag :mute, 'Mute', :title => 'Mute', :class => 'tooltipped' %>
            </div>
            <div id="nav-repeat">
              <%= check_box_tag :repeat, true %>
              <%= label_tag :repeat, 'Repeat', :title => 'Repeat', :class => 'tooltipped' %>
            </div>
            <div id="nav-shuffle">
              <%= check_box_tag :shuffle, true %>
              <%= label_tag :shuffle, 'Shuffle', :title => 'Shuffle', :class => 'tooltipped' %>
            </div>
            <div id="nav-progress"></div>
            <div id="nav-upload">
              <% if @user == current_user %>
              <%= render :partial => 'uploads/form' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% if use_html5_audio? %>
      <audio id="player"></audio>
    <% else %>
      <div id="player"></div>
    <% end %>
    <%#= render :partial => 'layouts/feedback' %>
    <%= render :partial => 'layouts/google_analytics' %>
  </body>
</html>