<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="robots" content="noindex" />
    <% if @page_title.present? %>
      <title><%=h @page_title %></title>
    <% else %>
      <title>Bitspace</title>
    <% end %>
    <link href="/stylesheets/bitspace.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="http://js.pusherapp.com/1.8/pusher.min.js"></script>
    <script src="/vendor/jquery/jquery.js" type="text/javascript"></script>
    <script src="/vendor/plugins/human-date.js" type="text/javascript"></script>
    <script src="/vendor/swfobject/swfobject.js" type="text/javascript"></script>
    <script src="/vendor/swfupload/swfupload.js" type="text/javascript"></script>
    <script src="/vendor/swfupload/swfupload.queue.js" type="text/javascript"></script>
    <script src="/vendor/plugins/jquery.swfupload.js" type="text/javascript"></script>
    <script src="/vendor/plugins/jquery.ui.js" type="text/javascript"></script>
    <script src="/vendor/soundmanager/script/soundmanager2-nodebug-jsmin.js" type="text/javascript"></script>
    <script src="/vendor/backbone/underscore.js" type="text/javascript"></script>
    <script src="/vendor/backbone/backbone.js" type="text/javascript"></script>
    <script src="/vendor/backbone/history.js" type="text/javascript"></script>
    <script src="/javascripts/player.js" type="text/javascript"></script>
    <script src="/javascripts/bitspace.js" type="text/javascript"></script>

    <script>
    var API_HOST = '<%= ENV['API_HOST'] %>';
    var PUSHER_APP_ID = '<%= ENV['PUSHER_APP_ID'] %>';

    $(function(){
      window.pusher = new Pusher(PUSHER_APP_ID);
      window.system_channel = pusher.subscribe('system');
      system_channel.bind('alert', function(message) {
        alert(message);
      });
      system_channel.bind('update', function(version) {
        window.location.reload();
      });
      window.releases = new Releases([]);
      window.releases.url = '/releases';
      window.releases.comparator = function(r) { return r.get('artist').name + r.get('title'); };
      window.releases.subscribe('<%= @user.login %>:releases');
      window.popularReleases = new Releases([]);
      window.popularReleases.url = '/releases/popular';
      window.popularReleases.comparator = function(r) { return -r.get('popularity'); };
      window.popularReleases.subscribe('releases:popular');
      window.newestReleases = new Releases([]);
      window.newestReleases.url = '/releases/newest';
      window.newestReleases.comparator = function(r) { return -r.get('created_at').valueOf(); };
      window.newestReleases.subscribe('releases:timeline');
      window.app = new AppView().render();
      window.controller = new Controller();
      window.player = new Player({
        playPause: $('#play-pause'),
        next: $('#next'),
        prev: $('#prev'),
        progress: $('#progress'),
        shuffle: $('#shuffle-button'),
        repeat: $('#repeat-button')
      });
      Backbone.history.start();
    });
    </script>
  </head>
  <body>
    <script type="text/template" id="app-template">
      <header id="header">
        <div class="container">
          <form action="/search" method="get" id="search">
            <input type="text" name="q" id="search-query" placeholder="Search" autocomplete="off" />
            <button>Go</button>
          </form>
          <nav>
            <a href="/" id="home">Home</a>
            <a href="/popular" id="popular">Popular</a>
            <a href="/newest" id="newest">Newest</a>
            <a href="/people" id="people">People</a>
            <a href="#" id="upload">Upload</a>
            <a href="#" id="account"><%=h current_user.name.present? ? current_user.name : current_user.login %></a>
          </nav>
        </div>
      </header>

      <section id="content" class="clearfix"></section>

      <div id="loading" style="display:none;">Loading...</div>

      <nav id="player-nav">
        <div id="playback">
          <button rel="prev" id="prev" disabled="disabled">&larr; Prev</button>
          <button rel="play-pause" id="play-pause" disabled="disabled">Play/Pause</button>
          <button rel="next" id="next" disabled="disabled">Next &rarr;</button>
        </div>
        <div id="progress"></div>
        <div id="repeat">
          <input type="checkbox" name="repeat" id="repeat-button" />
          <label for="repeat-button">Repeat</label>
        </div>
        <div id="shuffle">
          <input type="checkbox" name="shuffle" id="shuffle-button" />
          <label for="shuffle-button">Shuffle</label>
        </div>
      </nav>
    </script>

    <script type="text/template" id="fallback-template">
      <div class="fallback">
        <h2>This collection doesn&#x27;t contain any music yet.</h2>
        <p>
          Explore the <em>Popular</em> or <em>Newest</em> feeds above with music from other peoples collections.<br />
          Or you can upload your own music using the <em>Upload</em> button above, or by dragging and droping files here.
        </p>
      </div>
    </script>

    <script type="text/template" id="release-template">
      <div class="release-tracks">
        <ol></ol>
      </div>
    </script>

    <script type="text/template" id="release-item-template">
      <a href="#" class="close">Close</a>
      <div class="front">
      <a href="#" class="artwork">
        {% if(medium_artwork_url) { %}
        <img src="{{medium_artwork_url}}" width="240" height="240" alt="Artwork" />
        {% } %}
      </a>
      <a href="#" class="info">
        <span class="artist">{{artist.name}}</span>
        <span class="title">{{title}}</span>
      </a>
      </div>
      <div class="back"></div>
    </script>

    <script type="text/template" id="track-item-template">
      <span class="tr">{{title}}{% if(artist) { %} <span class="ar">&ndash; {{artist}}</span>{% } %}</span>
      <span class="ti">{{secondsToTime(length)}}</span>
    </script>
  </body>
</html>