<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <link rel="icon" href="/images/logos/favicon.png" type="image/png" />
    <link rel="shortcut icon" href="/images/logos/favicon.png" type="image/png" />
    <link rel="fluid-icon" href="/images/logos/fluid.png" title="Bitspace" />
    <link rel="apple-touch-icon" href="/images/logos/touch.png" />
    <meta content='width = device-width, initial-scale = 1.0' name='viewport' />
    <meta content='yes' name='apple-mobile-web-app-capable' />
    <meta content='black-translucent' name='apple-mobile-web-app-status-bar-style' />
    <title>Bitspace</title>
    <%= stylesheet_link_tag :defaults %>
    <%= stylesheet_link_tag :shadowbox %>
    <%= stylesheet_link_tag :application %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag :shadowbox %>
    <%= javascript_include_tag :application %>
  </head>
  <body class="black">
    <%= fb_connect_javascript_tag %>
    <script type="text/javascript">
    FB.init("<%= ENV['FACEBOOK_API_KEY'] %>","/xd_receiver.htm");
    </script>
    <div id="root">
      <div class="container_16 clearfix">
        <div class="grid_3 prefix_13">
          <ul id="user-menu" class="clearfix">
            <% if current_user.name.present? %>
            <li><%=h current_user.name %></li>
            <% else %>
            <li><fb:name uid="loggedinuser" useyou="false" linked="false"></fb:name></li>
            <% end %>
            <li><%= link_to("Logout", logout_path, :method => :delete) %></li>
          </ul>
        </div>
      </div>
      <div class="container_12 clearfix">
        <ul id="menu" class="clearfix">
          <li class="grid_2 first"><%= link_to(image_tag('/images/logos/logo.png'), root_path, :target => '_self', :rel => 'start') %></li>
          <li class="grid_1"><%= link_to('Artists', artists_path, :target => '_self', :rel => 'contents') %></li>
          <li class="grid_1"><%= link_to('Labels', labels_path, :target => '_self', :rel => 'contents') %></li>
          <li class="grid_1"><%= link_to('Years', years_path, :target => '_self', :rel => 'contents') %></li>
          <li class="grid_1"><%= link_to('Playlists', playlists_path, :target => '_self', :rel => 'contents') %></li>
          <li class="grid_3 prefix_3 last">
            <% form_tag(search_path, :method => 'get') do %>
              <input type="search" results="5" name="q" id="search-q" />
            <% end %>
          </li>
        </ul>
      </div>
      <div id="page">
        <%= yield %>
      </div>
    </div>
    <div id="error"></div>
    <div id="status">
      <div class="container_16 clearfix">
        <div class="grid_16">
          <div>
            <a id="status-artist" href="#" target="_self"></a> &ndash;
            <a id="status-track" href="#" target="_self"></a>
          </div>
          <div>
            <a id="status-release" href="#" target="_self"></a>
          </div>
        </div>
      </div>
    </div>
    <div id="nav">
      <div class="container_16 clearfix">
        <div class="grid_16">
          <div id="nav-playback">
            <button rel="prev" id="nav-prev" disabled="disabled">← Prev</button>
            <button rel="play-pause" id="nav-play-pause" disabled="disabled">Play/Pause</button>
            <button rel="next" id="nav-next" disabled="disabled">Next →</button>
          </div>
          <div id="nav-mute">
            <%= check_box_tag :mute, true %>
            <%= label_tag :mute, 'Mute' %>
          </div>
          <div id="nav-repeat">
            <%= check_box_tag :repeat, true %>
            <%= label_tag :repeat, 'Repeat' %>
          </div>
          <div id="nav-shuffle">
            <%= check_box_tag :shuffle, true %>
            <%= label_tag :shuffle, 'Shuffle' %>
          </div>
          <div id="nav-progress"></div>
          <div id="nav-upload">
            <%= link_to('Upload', upload_path, :rel => 'shadowbox;width=325;height=114') %>
          </div>
        </div>
      </div>
    </div>
    <audio id="player">
      Your browser does not support the <code>audio</code> element.
    </audio>
    <%= render :partial => 'layouts/google_analytics' %>
  </body>
</html>