<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <link rel="icon" href="/images/logos/favicon.png" type="image/png" />
    <link rel="shortcut icon" href="/images/logos/favicon.png" type="image/png" />
    <link rel="fluid-icon" href="/images/logos/fluid.png" title="Bitspace" />
    <link rel="apple-touch-icon" href="/images/logos/touch.png" />
    <title>Bitspace</title>
    <%= stylesheet_link_tag :common %>
    <%= stylesheet_link_tag :login %>
    <%= javascript_include_tag :common %>
    <%= javascript_include_tag :login %>
  </head>
  <body>
    <div id="root">
      <div id="page">
        <%= yield %>
      </div>
    </div>
    <div id="error"></div>
    <%= render :partial => 'layouts/google_analytics' %>
  </body>
</html>