<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <% if @page_title.present? %>
      <title><%=h @page_title %></title>
    <% else %>
      <title>Bitspace @ <%=h @user.login.anal_title_case %></title>
    <% end %>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <link rel="icon" href="/images/logos/favicon.png" type="image/png" />
    <link rel="shortcut icon" href="/images/logos/favicon.png" type="image/png" />
    <link rel="fluid-icon" href="/images/logos/fluid.png" title="Bitspace" />
    <link rel="apple-touch-icon" href="/images/logos/touch.png" />
    <link rel="alternate" type="application/atom+xml" title="Bitspace @ <%=h @user.login %>" href="<%= formatted_releases_profile_path(@user.login, :format => 'atom') %>" />
    <% if @page_description.present? %>
    <meta name="description" content="<%= @page_description %>" />
    <% end %>
    <% if @page_keywords.present? %>
    <meta name="keywords" content="<%= @page_keywords %>" />
    <% end %>
    <%= stylesheet_link_tag :common %>
    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :common %>
    <%= javascript_include_tag :site %>
  </head>
  <body>
    <div id="root">
      <div class="container_12 clearfix">
        <ul id="menu" class="clearfix">
          <li class="grid_1"><%= link_to('Overview', profile_path(@user.login), :class => request.path == profile_path(@user.login) ? 'current' : nil) %></li>
          <li class="grid_1"><%= link_to('Artists', artists_profile_path(@user.login), :class => request.path == artists_profile_path(@user.login) ? 'current' : nil) %></li>
          <li class="grid_1"><%= link_to('Releases', releases_profile_path(@user.login), :class => request.path == releases_profile_path(@user.login) ? 'current' : nil) %></li>
          <li class="grid_1"><%= link_to('Followers', followers_profile_path(@user.login), :class => request.path == followers_profile_path(@user.login) ? 'current' : nil) %></li>
          <li class="grid_8 last">
            <h2 style="margin:0;"><span class="grey">Bitspace @</span> <%=h @user.login.anal_title_case %></h2>
          </li>
        </ul>
      </div>
      <div id="page">
        <%= yield %>
      </div>
    </div>
    <%= render :partial => 'layouts/global_footer' %>
    <%= render :partial => 'layouts/google_analytics' %>
  </body>
</html>