<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <% if @page_title.present? %>
      <title><%=h @page_title %></title>
    <% else %>
      <title>Bitspace</title>
    <% end %>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <link rel="icon" href="/images/logos/favicon.png" type="image/png" />
    <link rel="shortcut icon" href="/images/logos/favicon.png" type="image/png" />
    <link rel="fluid-icon" href="/images/logos/fluid.png" title="Bitspace" />
    <link rel="apple-touch-icon" href="/images/logos/touch.png" />
    <link rel="alternate" type="application/atom+xml" title="Bitspace Blog" href="http://feeds.feedburner.com/bitspace" />
    <% if @page_description.present? %>
    <meta name="description" content="<%= @page_description %>" />
    <% end %>
    <% if @page_keywords.present? %>
    <meta name="keywords" content="<%= @page_keywords %>" />
    <% end %>
    <%= stylesheet_link_tag :common %>
    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :common %>
    <%= javascript_include_tag :site %>
  </head>
  <body>
    <div id="root">
      <div class="container_12 clearfix">
        <ul id="menu" class="clearfix">
          <li class="grid_1"><%= link_to('Start', root_path, :rel => 'start', :class => request.path == '/' ? 'current' : nil) %></li>
          <li class="grid_1"><%= link_to('Tour', tour_path, :class => params[:action] == 'tour' ? 'current' : nil) %></li>
          <li class="grid_1"><%= link_to('Price', price_path, :class => params[:action] == 'price' ? 'current' : nil) %></li>
          <li class="grid_1"><%= link_to('About', about_path, :class => params[:action] == 'about' ? 'current' : nil) %></li>
          <li class="grid_1"><%= link_to('Blog', blog_path, :class => params[:controller] == 'blog_posts' ? 'current' : nil) %></li>
          <li class="grid_1"><%= link_to('Download', download_path, :class => params[:action] == 'download' ? 'current' : nil) %></li>
          <li class="grid_6 last">
            <% if current_user %>
              <%= link_to('Go to player →', player_path(:trailing_slash => true), :class => 'button') %>
            <% else %>
              <%= link_to('Sign in →', login_path, :class => 'button') %>
              <% if flash[:alert] %>
              <div class="error"><%=h flash[:alert] %></div>
              <% end %>
            <% end %>
          </li>
        </ul>
      </div>
      <div id="page">
        <%= yield %>
      </div>
    </div>
    <%= render :partial => 'layouts/global_footer' %>
    <%= render :partial => 'layouts/google_analytics' %>
  </body>
</html>