<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <% if @page_title.present? %>
      <title><%=h @page_title %></title>
    <% else %>
      <title>Bitspace</title>
    <% end %>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <link rel="icon" href="/images/logos/favicon.png" type="image/png" />
    <link rel="shortcut icon" href="/images/logos/favicon.png" type="image/png" />
    <link rel="alternate" type="application/atom+xml" title="Bitspace Blog" href="http://feeds.feedburner.com/bitspace" />
    <% if @page_description.present? %>
    <meta name="description" content="<%= @page_description %>" />
    <% end %>
    <% if @page_keywords.present? %>
    <meta name="keywords" content="<%= @page_keywords %>" />
    <% end %>
    <%= stylesheet_link_tag :common %>
    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :common %>
    <%= javascript_include_tag :site %>
  </head>
  <body>
    <div id="root">
      <div class="container_12 clearfix">
        <ul id="menu" class="clearfix">
          <li class="grid_5 first">
            <%= link_to('Home', root_path, :rel => 'start', :class => request.path == '/' ? 'current' : nil) %>
            <%= link_to('Why Bitspace?', tour_path, :class => request.path == '/tour' ? 'current' : nil) %>
            <%= link_to('Blog', blog_path) %>
            <%= link_to('Help/Support', support_path) %>
            <%= link_to('Download', download_path, :class => request.path == '/download' ? 'current' : nil) %>
          </li>
          <li class="grid_3">
            <%= link_to('Plans & Pricing', '/#price') %>
            <%= link_to('Getting started', '/#gettingstarted') %>
          </li>
          <li class="grid_4 last">
            <%= link_to('Go to player →', player_path(:trailing_slash => true), :class => 'button') %>
            <% if flash[:alert] %>
            <div class="error"><%=h flash[:alert] %></div>
            <% end %>
          </li>
        </ul>
      </div>
      <div id="page">
        <%= yield %>
      </div>
    </div>
    <%= render :partial => 'layouts/global_footer' %>
    <%= render :partial => 'layouts/google_analytics' %>
  </body>
</html>