<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <link rel="icon" href="/images/logos/favicon.png" type="image/png" />
    <link rel="shortcut icon" href="/images/logos/favicon.png" type="image/png" />
    <link rel="fluid-icon" href="/images/logos/fluid.png" title="Bitspace" />
    <link rel="apple-touch-icon" href="/images/logos/touch.png" />
    <link rel="alternate" type="application/atom+xml" title="Bitspace Blog" href="http://feeds.feedburner.com/bitspace" />
    <meta content='width = 960, initial-scale = 1.0' name='viewport' />
    <meta content='yes' name='apple-mobile-web-app-capable' />
    <meta content='black-translucent' name='apple-mobile-web-app-status-bar-style' />
    <title>Bitspace</title>
    <%= stylesheet_link_tag :defaults %>
    <%= stylesheet_link_tag :shadowbox %>
    <%= stylesheet_link_tag :application %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag :shadowbox %>
    <script type="text/javascript">
      $(function(){
        if(Shadowbox) {
          Shadowbox.init({ skipSetup: true });
          Shadowbox.setup();
        }
      });
    </script>
  </head>
  <body class="white">
    <%= fb_connect_javascript_tag %>
    <script type="text/javascript">
    FB.init("<%= ENV['FACEBOOK_API_KEY'] %>","/xd_receiver.htm");
    </script>
    <div id="root">
      <div class="container_12 clearfix">
        <ul id="menu" class="clearfix">
          <li class="grid_2 first"><%= link_to(image_tag('/images/white/logo.png'), root_path, :rel => 'start') %></li>
          <li class="grid_1"><%= link_to('Tour', tour_path, :class => params[:action] == 'tour' ? 'current' : nil) %></li>
          <li class="grid_1"><%= link_to('Price', price_path, :class => params[:action] == 'price' ? 'current' : nil) %></li>
          <li class="grid_1"><%= link_to('About', about_path, :class => params[:action] == 'about' ? 'current' : nil) %></li>
          <li class="grid_1"><%= link_to('Blog', blog_path, :class => params[:controller] == 'blog_posts' ? 'current' : nil) %></li>
          <li class="grid_3 prefix_3 last">
            <div><%= facebook_login_button %></div>
            <% if flash[:error] %>
            <div class="error"><%=h flash[:error] %></div>
            <% else %>
            <div class="small grey">Bitspace is currently invitation only.</div>
            <% end %>
          </li>
        </ul>
      </div>
      <div id="page">
        <%= yield %>
      </div>
    </div>
    <div id="error"></div>
    <div id="globalfooter">
      <div class="container_16 clearfix">
        <div class="grid_4">
          Bitspace&trade; 2009 &ndash; The Bitspace Group
        </div>
        <div class="grid_12 alignright">
          <a href="http://twitter.com/bitspaced">Twitter</a>,
          <a href="http://www.facebook.com/pages/Bitspace/172171790806">Facebook</a>
        </div>
      </div>
    </div>
    <div id="footer">
      <div class="container_16 clearfix">
        <div class="grid_4">
          <%= image_tag('/images/logo_200x200_inverted.png') %>
        </div>
        <div class="grid_12">
          <h2>The Bitspace Group <span>a part of <a href="http://www.koneko-collective.com/">The Koneko Collective</a></span></h2>
          <!--<div class="grid_3 alpha">
            <h3>Stockholm</h3>
            <address>
              Bitspace AB<br />
              Observatoriegatan 9<br />
              113 29 Stockholm<br />
              Sweden
            </address>
          </div>
          <div class="grid_3">
            <h3>New York</h3>
            <address>
              Bitspace Inc.<br />
              79 N. 11th Street<br />
              Brooklyn, NY 11211<br />
              United States
            </address>
          </div>
          <div class="grid_3">
            <h3>Tokyo</h3>
            <address>
              Bitspace Nippon<br />
              目黒区駒場<br />
              ４－１－１４ Tokyo<br />
              Japan
            </address>
          </div> -->
          <div class="grid_3 alpha omega">
            <%= mail_to('hello@bitspace.se', nil, :encode => 'javascript') %> /<br />
            We like you.
          </div>
        </div>
      </div>
    </div>
    <%= render :partial => 'layouts/google_analytics' %>
  </body>
</html>