<span class="member-since grey">
  Member since <%= current_user.created_at.to_date.to_formatted_s(:long) %>
</span>
<ul class="tabnav">
  <li><%= link_to('Overview', account_path, :target => '_self', :class => request.path == account_path ? 'current' : nil) %></li>
  <% unless ENV['PRIVATE_BETA'] %>
  <li><%= link_to('Upgrade', upgrade_account_path, :target => '_self', :class => request.path == upgrade_account_path ? 'current' : nil) %></li>
  <% end %>
  <li><%= link_to('Profile', profile_account_path, :target => '_self', :class => request.path == profile_account_path ? 'current' : nil) %></li>
  <li><%= link_to('Last.fm', lastfm_account_path, :target => '_self', :class => request.path == lastfm_account_path ? 'current' : nil) %></li>
  <li><%= link_to('API token', api_account_path, :target => '_self', :class => request.path == api_account_path ? 'current' : nil) %></li>
</ul>