<div class="container_16 clearfix">
  <div class="grid_8 prefix_4 suffix_4 aligncenter">
    
    <div class="box" id="account-credentials-box">
      <% if flash[:alert].present? %>
        <div class="bubble bubble-south">
          <div class="bubble-inner">
            <%=h flash[:alert] %>
          </div>
        </div>
      <% end %>
      
      <% if flash[:notice].present? %>
        <div class="bubble bubble-south">
          <div class="bubble-inner">
            <%=h flash[:notice] %>
          </div>
        </div>
      <% end %>
      
      <h1>Add credentials to your account</h1>
      <p>We are moving away from Facebook Connect. In preparation of the 
         public beta launch that will be announced soon, we are asking all 
         of our beta testers to add a username and password to their
         account. You will be using this username and password combination
         to sign in to Bitspace instead of your Facebook account
         from now on. We apologize for any inconveniences that this might
         cause and hope that you will continue to use and enjoy the service.
         <br /><br />
         Thank you!<br />
         The Bitspace Team</p>
      
      <% form_for current_user, :url => credentials_account_path,
                    :html => { :id => 'account-credentials-form' } do |f| %>
        <div class="field">
          <%= f.text_field :login, :class => 'required' %>
          <kbd>A username of your choice</kbd>
        </div>
        
        <div class="field">
          <%= f.password_field :password, :class => 'required' %>
          <kbd>A tricky password</kbd>
        </div>
        
        <div class="submit-row">
          <%= f.submit 'Save credentials' %>
        </div>
      <% end %>
      
      <p class="feedback">
        If you have any questions or feedback you can always contact us at
        <%= mail_to('beta@bitspace.se') %> or using the
        <%= link_to('support forum', 'http://getsatisfaction.com/bitspace') %>.</p>
    </div>
    
  </div>
</div>