<div class="account" id="account-profile">
  <div class="container_16 clearfix">
    <div class="pane clearfix">
      <%= render :partial => 'accounts/navigation' %>
      
      <hr />
      
      <% form_for current_user, :url => profile_account_path,
                    :html => { :id => 'account-profile-form' } do |f| %>
        <table>
          <tbody>
            <tr>
              <th><%= label_tag :password, 'Current password' %></th>
              <td>
                <%= password_field_tag :password, '', :class => 'required' %>
                <div class="hint"><%= link_to('Forgot your password?', forgot_password_path, :rel => 'shadowbox') %></div>
              </td>
            </tr>
            <tr>
              <td colspan="2"><hr /></td>
            </tr>
            <tr>
              <th><%= f.label :email %></th>
              <td><%= f.text_field :email, :class => 'required email' %></td>
            </tr>
            <tr>
              <th><%= f.label :login, 'Username' %></th>
              <td><%= f.text_field :login, :class => 'required' %></td>
            </tr>
            <tr>
              <th><%= f.label :password, 'New password' %></th>
              <td><%= f.password_field :password %></td>
            </tr>
            <tr>
              <th><%= f.label :password_confirmation, 'Verify new password' %></th>
              <td><%= f.password_field :password_confirmation %></td>
            </tr>
            <% if current_user.private_beta? %>
            <tr>
              <td colspan="2"><hr /></td>
            </tr>
            <tr>
              <th><%= f.label :website %></th>
              <td>
                <%= f.text_field :website, :class => 'url' %>
              </td>
            </tr>
            <tr>
              <th valign="top"><%= f.label :biography %></th>
              <td>
                <%= f.text_area :biography, :size => '40x6', :style => 'display:block;' %>
              </td>
            </tr>
            <tr>
              <th></th>
              <td>
                <%= f.check_box :public_profile %>
                <%= f.label :public_profile, 'Enable my public profile' %>
                <span class="grey small">(<%= link_to('What is this?', '#whatispublicprofiles', :rel => 'toggle') %>)</span>
                <p id="whatispublicprofiles" class="grey" style="width:400px; display:none;">
                  Your public profile is a way for you to share your music taste and to let your friends follow
                  what you upload and listen to. You can find your public profile at: <%= link_to(profile_url(current_user.login), profile_url(current_user.login)) %>
                </p>
              </td>
            </tr>
            <tr>
              <td colspan="2"><hr /></td>
            </tr>
            <% end %>
            <tr>
              <th></th>
              <td><%= submit_tag 'Save changes' %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>