<div class="account" id="account">
  <div class="container_16 clearfix">
    <div class="pane clearfix">
      <%= render :partial => 'accounts/navigation' %>
      
      <hr />
      
      <div class="aligncenter">
      
        <h2>
          <%= current_user.subscription_plan %><br />
          <span><%= number_to_human_size(current_user.tracks.sum(:size)) %> /
          <%= number_to_human_size(current_user.max_storage) || 'Unlimited' %>
          <% unless ENV['PRIVATE_BETA'] %>
            <br /><br />
            <%= link_to('Click here if you need to upgrade!', upgrade_account_path, :target => '_self') %></span>
          <% end %>
        </h2>
        
        <div class="storage-gauge">
          <div class="storage-amount" style="width:<%= current_user.storage_used_in_percent %>%"></div>
        </div>
        
        <dl class="status grid_2 prefix_3 alpha">
          <dt>Artists</dt>
          <dd><%= current_user.artists.with_releases.size %></dd>
        </dl>
        <dl class="status grid_2">
          <dt>Releases</dt>
          <dd><%= current_user.releases.size %></dd>
        </dl>
        <dl class="status grid_2">
          <dt>Tracks</dt>
          <dd><%= current_user.tracks.size %></dd>
        </dl>
        <dl class="status grid_2">
          <dt>Labels</dt>
          <dd><%= current_user.labels.size %></dd>
        </dl>
        <dl class="status grid_2 suffix_3 omega">
          <dt>Total time</dt>
          <dd><%= seconds_to_time(current_user.tracks.sum(:length)) %></dd>
        </dl>
      
      </div>
      
    </div>
  </div>
</div>